{:highlights ({:id #uuid "64410a3c-9903-4280-bc51-2530d955dff9",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 878.5072631835938,
                                     :y2 1125.25,
                                     :width 992.0833333333333,
                                     :height 1402.9166666666665},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 16,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}
                                  {:x1 0,
                                   :y1 16,
                                   :x2 0,
                                   :y2 32,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}
                                  {:x1 144.203125,
                                   :y1 881,
                                   :x2 878.3724365234375,
                                   :y2 901,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}
                                  {:x1 113.375,
                                   :y1 913.125,
                                   :x2 558.62255859375,
                                   :y2 933.125,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}
                                  {:x1 113.375,
                                   :y1 945.203125,
                                   :x2 418.4692687988281,
                                   :y2 965.203125,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}
                                  {:x1 113.375,
                                   :y1 977.3125,
                                   :x2 338.9302673339844,
                                   :y2 997.3125,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}
                                  {:x1 113.375,
                                   :y1 1008.953125,
                                   :x2 684.1484375,
                                   :y2 1028.953125,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}
                                  {:x1 113.375,
                                   :y1 1041.0625,
                                   :x2 669.0598754882812,
                                   :y2 1061.0625,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}
                                  {:x1 113.375,
                                   :y1 1073.171875,
                                   :x2 878.5072631835938,
                                   :y2 1093.171875,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}
                                  {:x1 113.375,
                                   :y1 1105.25,
                                   :x2 527.5007934570312,
                                   :y2 1125.25,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}),
                          :page 1},
               :content {:text "Antes de se iniciar um PSA o nível de sedação pretendido deve ser estabelecido, cumprindo as recomendações da European Society of Anaesthesiology (ESA):- Sedação de nível 1: totalmente acordado.- Sedação de nível 2: sonolento.- Sedação de nível 3: aparentemente adormecido, responde a estímulos verbais.- Sedação de nível 4: aparentemente adormecida, resposta a estímulos físicos.- Sedação de nível 5: Escala de Coma de Glasgow ≤ 8 induzido por fármacos, sem resposta a estímulos físicos(elevado risco de depressão respiratória e cardiovascular)."},
               :properties {:color "yellow"}}),
 :extra {:page 1}}
