{:highlights [{:id #uuid "644243c2-d9e1-49e3-b4e2-08a31c775655",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 126,
                                     :x2 390.0768737792969,
                                     :y2 262.28125,
                                     :width 800,
                                     :height 1066.6662186951937},
                          :rects ({:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 146,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 149.78125,
                                   :y1 240.84375,
                                   :x2 390.0768737792969,
                                   :y2 252.84375,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 83.796875,
                                   :y1 252.28125,
                                   :x2 141.7477569580078,
                                   :y2 262.28125,
                                   :width 800,
                                   :height 1066.6662186951937}),
                          :page 7},
               :content {:text "Continuous supplemental oxygen is indicated during NAAP for endoscopy."},
               :properties {:color "yellow"}}],
 :extra {:page 13}}
