{:highlights [{:id #uuid "643e7ec3-0dbe-4b9d-8257-c6cba776b660",
               :page 9,
               :position {:bounding {:x1 0,
                                     :y1 638,
                                     :x2 723.8411254882812,
                                     :y2 742.453125,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 0,
                                   :y1 638,
                                   :x2 0,
                                   :y2 658,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 409.515625,
                                   :y1 646.828125,
                                   :x2 723.8411254882812,
                                   :y2 661.828125,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 654,
                                   :x2 0,
                                   :y2 674,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 409.515625,
                                   :y1 662.953125,
                                   :x2 723.8077392578125,
                                   :y2 677.953125,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 670,
                                   :x2 0,
                                   :y2 690,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 409.515625,
                                   :y1 679.09375,
                                   :x2 723.8154907226562,
                                   :y2 694.09375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 686,
                                   :x2 0,
                                   :y2 706,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 409.515625,
                                   :y1 695.203125,
                                   :x2 723.7913208007812,
                                   :y2 710.203125,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 702,
                                   :x2 0,
                                   :y2 722,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 409.515625,
                                   :y1 711.328125,
                                   :x2 723.7957763671875,
                                   :y2 726.328125,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 409.515625,
                                   :y1 727.453125,
                                   :x2 486.9344482421875,
                                   :y2 742.453125,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 9},
               :content {:text "This systematic review and meta-analysis suggest that HFNC is more effective than SNC in preventing hypoxemia and avoiding airway interventions during sedated digestive endoscopy, but the subgroup analysis shows that HFNC may be more suitable for patients at low risk of hypoxemia."},
               :properties {:color "yellow"}}
              {:id #uuid "643e7f11-43f7-48cd-813b-331c2e5e8c64",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 390.4739074707031,
                                     :y2 578.984375,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 78,
                                   :x2 0,
                                   :y2 98,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 94,
                                   :x2 0,
                                   :y2 114,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 130,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 146,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 142,
                                   :x2 0,
                                   :y2 162,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 244.48617553710938,
                                   :y1 483.34375,
                                   :x2 389.6860046386719,
                                   :y2 498.34375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 76.1875,
                                   :y1 499.46875,
                                   :x2 390.4503479003906,
                                   :y2 514.46875,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 76.1875,
                                   :y1 515.578125,
                                   :x2 390.44964599609375,
                                   :y2 530.578125,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 76.1875,
                                   :y1 531.703125,
                                   :x2 277.7062683105469,
                                   :y2 546.703125,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 296.109375,
                                   :y1 531.703125,
                                   :x2 390.4739074707031,
                                   :y2 546.703125,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 320.21875,
                                   :y1 538.265625,
                                   :x2 325.35906982421875,
                                   :y2 548.265625,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 76.1875,
                                   :y1 547.859375,
                                   :x2 390.4700012207031,
                                   :y2 562.859375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 76.1875,
                                   :y1 563.984375,
                                   :x2 268.6943359375,
                                   :y2 578.984375,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 5},
               :content {:text "Although sedation-related mortality in digestive endoscopy is generally rare (about0.08%), the harmful effect of hypoxemia is systemic, and even a short episode of hypoxemia to SpO2 lower than90% is related to increased hospital length of stay, intensive care unit admissions and costs "},
               :properties {:color "yellow"}}
              {:id #uuid "643ea6bc-ff22-414a-a846-1a7f26f43bdb",
               :page 10,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 723.3340454101562,
                                     :y2 1602,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 429.671875,
                                   :y1 612.484375,
                                   :x2 718.504638671875,
                                   :y2 623.484375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 429.671875,
                                   :y1 624.578125,
                                   :x2 723.3340454101562,
                                   :y2 635.578125,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 429.671875,
                                   :y1 636.6875,
                                   :x2 694.6646118164062,
                                   :y2 647.6875,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 1566,
                                   :x2 0,
                                   :y2 1586,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 1582,
                                   :x2 0,
                                   :y2 1602,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 10},
               :content {:text "Riccio CA, Sarmiento S, Minhajuddin A, Nasir D, Fox AA. High‑flow versus standard nasal cannula in morbidly obese patients during colonoscopy: a prospective, randomized clinical trial. J Clin Anesth. 2019;54:19–24."},
               :properties {:color "yellow"}}],
 :extra {:page 10}}
