{:highlights [{:id #uuid "643ec30d-989a-45d2-8630-a84a2309b60e",
               :page 2,
               :position {:bounding {:x1 431.359375,
                                     :y1 897.796875,
                                     :x2 622.46435546875,
                                     :y2 912.796875,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 431.359375,
                                   :y1 897.796875,
                                   :x2 622.46435546875,
                                   :y2 912.796875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 2},
               :content {:text "Grupo de técnica convencional"},
               :properties {:color "green"}}
              {:id #uuid "643ec317-4b67-4f6d-b23e-7eda45697ab1",
               :page 3,
               :position {:bounding {:x1 150.1995849609375,
                                     :y1 144.546875,
                                     :x2 269.0106201171875,
                                     :y2 159.546875,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 150.1995849609375,
                                   :y1 144.546875,
                                   :x2 269.0106201171875,
                                   :y2 159.546875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 3},
               :content {:text "Grupo de alto flujo"},
               :properties {:color "green"}}
              {:id #uuid "643ec36d-56e2-4557-a177-707507111f6b",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 254,
                                     :x2 384.3601989746094,
                                     :y2 363.46875,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 0,
                                   :y1 254,
                                   :x2 0,
                                   :y2 274,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 0,
                                   :y1 270,
                                   :x2 0,
                                   :y2 290,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 139.34190368652344,
                                   :y1 317.09375,
                                   :x2 384.3091125488281,
                                   :y2 332.09375,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 70.65625,
                                   :y1 332.78125,
                                   :x2 384.3601989746094,
                                   :y2 347.78125,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 70.65625,
                                   :y1 348.46875,
                                   :x2 291.2860107421875,
                                   :y2 363.46875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 4},
               :content {:text "La población total del estudio constó de108 pacientes, los cuales fueron sometidos a procedimientos endoscópicos con sedación"},
               :properties {:color "green"}}
              {:id #uuid "643ec390-0a5d-487d-ac63-0f4eef16fe1d",
               :page 4,
               :position {:bounding {:x1 524.0648193359375,
                                     :y1 552.390625,
                                     :x2 725.57763671875,
                                     :y2 567.390625,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 524.0648193359375,
                                   :y1 552.390625,
                                   :x2 725.57763671875,
                                   :y2 567.390625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 4},
               :content {:text " endoscopia de tubo digestivo alto"},
               :properties {:color "green"}}
              {:id #uuid "643ec3d1-11df-4e25-a4ce-899ac2768d61",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 782,
                                     :x2 384.3615417480469,
                                     :y2 924.25,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 0,
                                   :y1 782,
                                   :x2 0,
                                   :y2 802,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 70.65625,
                                   :y1 893.5625,
                                   :x2 384.3615417480469,
                                   :y2 908.5625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 70.65625,
                                   :y1 909.25,
                                   :x2 299.0218200683594,
                                   :y2 924.25,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 5},
               :content {:text "La frecuencia de episodios de desaturación fue menor con cánulas nasales de alto flujo"},
               :properties {:color "yellow"}}],
 :extra {:page 5}}
