{:highlights [{:id #uuid "643e8339-b298-4b47-a784-18a95c061b9d",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 318,
                                     :x2 387.4547424316406,
                                     :y2 460.921875,
                                     :width 799.9999999999999,
                                     :height 1066.5777851845678},
                          :rects ({:x1 0,
                                   :y1 318,
                                   :x2 0,
                                   :y2 338,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 0,
                                   :y1 334,
                                   :x2 0,
                                   :y2 354,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 0,
                                   :y1 350,
                                   :x2 0,
                                   :y2 370,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 0,
                                   :y1 366,
                                   :x2 0,
                                   :y2 386,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 173.6573944091797,
                                   :y1 385.296875,
                                   :x2 386.1193542480469,
                                   :y2 400.296875,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 67.5,
                                   :y1 400.484375,
                                   :x2 387.3354797363281,
                                   :y2 415.484375,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 67.5,
                                   :y1 415.53125,
                                   :x2 387.10955810546875,
                                   :y2 430.53125,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 67.5,
                                   :y1 430.71875,
                                   :x2 387.4547424316406,
                                   :y2 445.71875,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 67.5,
                                   :y1 445.921875,
                                   :x2 168.41221618652344,
                                   :y2 460.921875,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}),
                          :page 2},
               :content {:text "The MA bite block is a device derived from MAD and designed for endoscopy performed via oral route. It provides mandibular advancement, supplemental oxygen directed to both nasal and oral cavities, and inlet for endoscopic entry. "},
               :properties {:color "yellow"}}
              {:id #uuid "643e83bb-6dbe-49e2-969c-1247fb88e6c7",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 792.203125,
                                     :x2 731.6434326171875,
                                     :y2 1570,
                                     :width 799.9999999999999,
                                     :height 1066.5777851845678},
                          :rects ({:x1 561.6961059570312,
                                   :y1 792.203125,
                                   :x2 731.2140502929688,
                                   :y2 807.203125,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 411.484375,
                                   :y1 807.234375,
                                   :x2 731.3193359375,
                                   :y2 822.234375,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 462.828125,
                                   :y1 821.21875,
                                   :x2 731.6434326171875,
                                   :y2 831.21875,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 411.484375,
                                   :y1 823.71875,
                                   :x2 462.84381103515625,
                                   :y2 838.71875,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 478.828125,
                                   :y1 823.71875,
                                   :x2 731.6434326171875,
                                   :y2 838.71875,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 411.484375,
                                   :y1 838.921875,
                                   :x2 731.4393920898438,
                                   :y2 853.921875,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 411.484375,
                                   :y1 854.109375,
                                   :x2 458.105224609375,
                                   :y2 869.109375,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 0,
                                   :y1 1502,
                                   :x2 0,
                                   :y2 1522,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 0,
                                   :y1 1518,
                                   :x2 0,
                                   :y2 1538,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 0,
                                   :y1 1534,
                                   :x2 0,
                                   :y2 1554,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 0,
                                   :y1 1550,
                                   :x2 0,
                                   :y2 1570,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}),
                          :page 2},
               :content {:text "Propofol was initiated via target controlled infusion (TCI) (Agilia, SB Medica SRL, Italy) at1 mcg ml−1 and was titrated throughout the procedure by the in charge anaesthesiologist to maintain moderate to deep sedation "},
               :properties {:color "yellow"}}
              {:id #uuid "643e8430-46ea-49f7-88e9-f8a95ec8c30a",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 446,
                                     :x2 387.3358154296875,
                                     :y2 598.125,
                                     :width 799.9999999999999,
                                     :height 1066.5777851845678},
                          :rects ({:x1 0,
                                   :y1 446,
                                   :x2 0,
                                   :y2 466,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 150.53125,
                                   :y1 566.609375,
                                   :x2 387.3358154296875,
                                   :y2 581.609375,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 67.515625,
                                   :y1 581.8125,
                                   :x2 288.33929443359375,
                                   :y2 596.8125,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 310.046875,
                                   :y1 581.828125,
                                   :x2 314.4969787597656,
                                   :y2 596.828125,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 288.28125,
                                   :y1 588.125,
                                   :x2 311.6875,
                                   :y2 598.125,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}),
                          :page 3},
               :content {:text "The primary endpoint was the area under the curve of 90% oxygen desaturation (AUCDesat )"},
               :properties {:color "yellow"}}
              {:id #uuid "643e8477-5d8c-4a26-930d-c888fe2846e4",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 624.046875,
                                     :x2 731.1983032226562,
                                     :y2 1346,
                                     :width 799.9999999999999,
                                     :height 1066.5777851845678},
                          :rects ({:x1 500.9990539550781,
                                   :y1 624.046875,
                                   :x2 731.1983032226562,
                                   :y2 639.046875,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 546.03125,
                                   :y1 638.03125,
                                   :x2 558.90625,
                                   :y2 648.03125,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 411.484375,
                                   :y1 640.53125,
                                   :x2 545.5806274414062,
                                   :y2 655.53125,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 0,
                                   :y1 1326,
                                   :x2 0,
                                   :y2 1346,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}),
                          :page 2},
               :content {:text "or HFNC group, 100% oxygen was given at flow rate of 30 L min−1 "},
               :properties {:color "yellow"}}
              {:id #uuid "643e86ca-9239-47a2-b9d2-6fef43533e6e",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 174,
                                     :x2 387.42620849609375,
                                     :y2 596.328125,
                                     :width 799.9999999999999,
                                     :height 1066.5777851845678},
                          :rects ({:x1 0,
                                   :y1 174,
                                   :x2 0,
                                   :y2 194,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 0,
                                   :y1 190,
                                   :x2 0,
                                   :y2 210,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 67.5,
                                   :y1 550.9375,
                                   :x2 386.7024230957031,
                                   :y2 565.9375,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 67.5,
                                   :y1 566.140625,
                                   :x2 387.42620849609375,
                                   :y2 581.140625,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 67.5,
                                   :y1 581.328125,
                                   :x2 152.83981323242188,
                                   :y2 596.328125,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}),
                          :page 5},
               :content {:text "This study showed that both the HFNC and MA bite blocks significantly reduced the degree and duration of hypoxic events. "},
               :properties {:color "yellow"}}
              {:id #uuid "643e870f-2366-4e0a-9b66-c1ab91bfcc0e",
               :page 1,
               :position {:bounding {:x1 174.0559844970703,
                                     :y1 572.140625,
                                     :x2 355.2744140625,
                                     :y2 586.140625,
                                     :width 799.9999999999999,
                                     :height 1066.5777851845678},
                          :rects ({:x1 174.0559844970703,
                                   :y1 572.140625,
                                   :x2 355.2744140625,
                                   :y2 586.140625,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}),
                          :page 1},
               :content {:text "esophagogastroduodenoscopy (EGD). "},
               :properties {:color "yellow"}}
              {:id #uuid "643e872c-5a2b-4ae5-a806-418f72af21e5",
               :page 2,
               :position {:bounding {:x1 67.5,
                                     :y1 641.96875,
                                     :x2 387.3955993652344,
                                     :y2 656.96875,
                                     :width 799.9999999999999,
                                     :height 1066.5777851845678},
                          :rects ({:x1 67.5,
                                   :y1 641.96875,
                                   :x2 387.3955993652344,
                                   :y2 656.96875,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}),
                          :page 2},
               :content {:text "nasal cannula (Optiflow, Fisher & Paykel, New Zealand) and"},
               :properties {:color "yellow"}}
              {:id #uuid "64468aad-9b7b-46a5-a134-aef806d10a50",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 174,
                                     :x2 387.2972717285156,
                                     :y2 975.1875,
                                     :width 799.9999999999999,
                                     :height 1066.5777851845678},
                          :rects ({:x1 0,
                                   :y1 174,
                                   :x2 0,
                                   :y2 194,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 0,
                                   :y1 190,
                                   :x2 0,
                                   :y2 210,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 268.9756774902344,
                                   :y1 929.796875,
                                   :x2 387.2785339355469,
                                   :y2 944.796875,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 67.5,
                                   :y1 944.984375,
                                   :x2 387.2972717285156,
                                   :y2 959.984375,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 67.5,
                                   :y1 960.1875,
                                   :x2 319.34649658203125,
                                   :y2 975.1875,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}),
                          :page 4},
               :content {:text "The HFNC and MA groups both showed a 16% and 14% reduction in the number of patients who received rescue intervention "},
               :properties {:color "yellow"}}
              {:id #uuid "64468ab7-3bee-44b1-99a8-101d07ffe46a",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 238,
                                     :x2 731.289794921875,
                                     :y2 944.78125,
                                     :width 799.9999999999999,
                                     :height 1066.5777851845678},
                          :rects ({:x1 0,
                                   :y1 238,
                                   :x2 0,
                                   :y2 258,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 481.44720458984375,
                                   :y1 914.734375,
                                   :x2 731.289794921875,
                                   :y2 929.734375,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 411.46875,
                                   :y1 929.78125,
                                   :x2 574.5275268554688,
                                   :y2 944.78125,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}),
                          :page 4},
               :content {:text "hypoxic events, there were 18% reduction in the HFNC and 12% in MA groups "},
               :properties {:color "yellow"}}
              {:id #uuid "64468ac8-ae83-434d-a5b3-25c9ffeeef05",
               :page 4,
               :position {:bounding {:x1 249.71875,
                                     :y1 785.25,
                                     :x2 596.171875,
                                     :y2 799.25,
                                     :width 799.9999999999999,
                                     :height 1066.5777851845678},
                          :rects ({:x1 249.71875,
                                   :y1 785.25,
                                   :x2 285.640625,
                                   :y2 799.25,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 373.875,
                                   :y1 785.25,
                                   :x2 423.1064758300781,
                                   :y2 799.25,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 563,
                                   :y1 785.25,
                                   :x2 596.171875,
                                   :y2 799.25,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}),
                          :page 4},
               :content {:text "32 (63) 31 (62) 16 (31) "},
               :properties {:color "yellow"}}
              {:id #uuid "64468ad3-5307-4a77-a174-63dbd3204ad4",
               :page 4,
               :position {:bounding {:x1 251.03125,
                                     :y1 851.65625,
                                     :x2 589.35107421875,
                                     :y2 865.65625,
                                     :width 799.9999999999999,
                                     :height 1066.5777851845678},
                          :rects ({:x1 251.03125,
                                   :y1 851.65625,
                                   :x2 284.53125,
                                   :y2 865.65625,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 379.328125,
                                   :y1 851.65625,
                                   :x2 418.5345764160156,
                                   :y2 865.65625,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 566.8125,
                                   :y1 851.65625,
                                   :x2 589.35107421875,
                                   :y2 865.65625,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}),
                          :page 4},
               :content {:text "11 (20) 1 (2) 4 (8)"},
               :properties {:color "yellow"}}
              {:id #uuid "64468ad7-88c7-4da5-837a-7fba9b4940c2",
               :page 4,
               :position {:bounding {:x1 252.890625,
                                     :y1 868.296875,
                                     :x2 589.3712768554688,
                                     :y2 882.296875,
                                     :width 799.9999999999999,
                                     :height 1066.5777851845678},
                          :rects ({:x1 252.890625,
                                   :y1 868.296875,
                                   :x2 282.421875,
                                   :y2 882.296875,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 379.28125,
                                   :y1 868.296875,
                                   :x2 418.504150390625,
                                   :y2 882.296875,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}
                                  {:x1 566.78125,
                                   :y1 868.296875,
                                   :x2 589.3712768554688,
                                   :y2 882.296875,
                                   :width 799.9999999999999,
                                   :height 1066.5777851845678}),
                          :page 4},
               :content {:text "9 (18) 1 (2) 2 (4)"},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
