{:highlights [{:id #uuid "644527c2-e031-41a1-9a7a-c85a33c3ea1e",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 96,
                                     :x2 466.0406494140625,
                                     :y2 715.015625,
                                     :width 974.9999999999999,
                                     :height 1304.9999999999998},
                          :rects ({:x1 0,
                                   :y1 96,
                                   :x2 0,
                                   :y2 112,
                                   :width 974.9999999999999,
                                   :height 1304.9999999999998}
                                  {:x1 0,
                                   :y1 112,
                                   :x2 0,
                                   :y2 128,
                                   :width 974.9999999999999,
                                   :height 1304.9999999999998}
                                  {:x1 0,
                                   :y1 128,
                                   :x2 0,
                                   :y2 144,
                                   :width 974.9999999999999,
                                   :height 1304.9999999999998}
                                  {:x1 77.5,
                                   :y1 636.015625,
                                   :x2 447.11724853515625,
                                   :y2 655.015625,
                                   :width 974.9999999999999,
                                   :height 1304.9999999999998}
                                  {:x1 57.5,
                                   :y1 656.015625,
                                   :x2 466.0406494140625,
                                   :y2 675.015625,
                                   :width 974.9999999999999,
                                   :height 1304.9999999999998}
                                  {:x1 57.5,
                                   :y1 676.015625,
                                   :x2 394.7220153808594,
                                   :y2 695.015625,
                                   :width 974.9999999999999,
                                   :height 1304.9999999999998}
                                  {:x1 57.5,
                                   :y1 696.015625,
                                   :x2 193.97393798828125,
                                   :y2 715.015625,
                                   :width 974.9999999999999,
                                   :height 1304.9999999999998}),
                          :page 2},
               :content {:text "We used a computer-generated, concealed randomization schedule to assign patients to receive either high-flow oxygen or room air, both administered at 15 L per minute by a nonrebreather mask. "},
               :properties {:color "yellow"}}
              {:id #uuid "644527df-f749-4bfa-85b4-e9757c5402f0",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 421.515625,
                                     :x2 422.987060546875,
                                     :y2 1616,
                                     :width 974.9999999999999,
                                     :height 1304.9999999999998},
                          :rects ({:x1 79.15625,
                                   :y1 421.515625,
                                   :x2 422.987060546875,
                                   :y2 441.515625,
                                   :width 974.9999999999999,
                                   :height 1304.9999999999998}
                                  {:x1 79.15625,
                                   :y1 443.1875,
                                   :x2 422.6437072753906,
                                   :y2 463.1875,
                                   :width 974.9999999999999,
                                   :height 1304.9999999999998}
                                  {:x1 79.15625,
                                   :y1 464.859375,
                                   :x2 126.416259765625,
                                   :y2 484.859375,
                                   :width 974.9999999999999,
                                   :height 1304.9999999999998}
                                  {:x1 0,
                                   :y1 1584,
                                   :x2 0,
                                   :y2 1600,
                                   :width 974.9999999999999,
                                   :height 1304.9999999999998}
                                  {:x1 0,
                                   :y1 1600,
                                   :x2 0,
                                   :y2 1616,
                                   :width 974.9999999999999,
                                   :height 1304.9999999999998}),
                          :page 2},
               :content {:text "There is less hypoxia during propofol procedural sedation when high-flow supplemental oxygen is added."},
               :properties {:color "red"}}],
 :extra {:page 2}}
