{:highlights [{:id #uuid "644a3f3c-787a-4e65-82dd-8b63b0a57641",
               :page 8,
               :position {:bounding {:x1 517.875,
                                     :y1 863.171875,
                                     :x2 612.714599609375,
                                     :y2 880.171875,
                                     :width 1015.7483333333332,
                                     :height 1322.8349999999998},
                          :rects ({:x1 517.875,
                                   :y1 863.171875,
                                   :x2 612.714599609375,
                                   :y2 880.171875,
                                   :width 1015.7483333333332,
                                   :height 1322.8349999999998}),
                          :page 8},
               :content {:text "bronchoscopy"},
               :properties {:color "yellow"}}],
 :extra {:page 11}}
