{:highlights [{:id #uuid "64451c7e-5051-4bc5-bcba-093a70ad3853",
               :page 12,
               :position {:bounding {:x1 0,
                                     :y1 535.15625,
                                     :x2 896.5623779296875,
                                     :y2 1152,
                                     :width 978.2833333333333,
                                     :height 1303.2749999999999},
                          :rects ({:x1 530.9097900390625,
                                   :y1 535.15625,
                                   :x2 896.5623779296875,
                                   :y2 552.15625,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 498.03125,
                                   :y1 553.484375,
                                   :x2 576.928466796875,
                                   :y2 570.484375,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 0,
                                   :y1 1136,
                                   :x2 0,
                                   :y2 1152,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}),
                          :page 12},
               :content {:text "Knowledge of the interventions that may be used if required"},
               :properties {:color "red"}}
              {:id #uuid "64452643-eaac-4c74-84d8-0e912d584291",
               :page 12,
               :position {:bounding {:x1 0,
                                     :y1 629.953125,
                                     :x2 896.5858154296875,
                                     :y2 1232,
                                     :width 978.2833333333333,
                                     :height 1303.2749999999999},
                          :rects ({:x1 498.03125,
                                   :y1 629.953125,
                                   :x2 896.5858154296875,
                                   :y2 648.953125,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 498.03125,
                                   :y1 649.421875,
                                   :x2 594.3757934570312,
                                   :y2 668.421875,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 0,
                                   :y1 1216,
                                   :x2 0,
                                   :y2 1232,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}),
                          :page 12},
               :content {:text "especially in long procedures or whenever a hypoxic period is anticipated "},
               :properties {:color "yellow"}}
              {:id #uuid "6445265e-85b9-4b74-9bb7-27d55642390c",
               :page 12,
               :position {:bounding {:x1 532.8441162109375,
                                     :y1 737.1875,
                                     :x2 664.0449829101562,
                                     :y2 756.1875,
                                     :width 978.2833333333333,
                                     :height 1303.2749999999999},
                          :rects ({:x1 532.8441162109375,
                                   :y1 737.1875,
                                   :x2 664.0449829101562,
                                   :y2 756.1875,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}),
                          :page 12},
               :content {:text "The best evidence "},
               :properties {:color "red"}}
              {:id #uuid "6445266c-c716-4acf-8c1f-be3eaac7baad",
               :page 12,
               :position {:bounding {:x1 0,
                                     :y1 776.21875,
                                     :x2 903.1784057617188,
                                     :y2 1408,
                                     :width 978.2833333333333,
                                     :height 1303.2749999999999},
                          :rects ({:x1 580.625,
                                   :y1 776.21875,
                                   :x2 896.4599609375,
                                   :y2 795.21875,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 498.046875,
                                   :y1 795.78125,
                                   :x2 896.477294921875,
                                   :y2 814.78125,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 534.984375,
                                   :y1 804.046875,
                                   :x2 541.5590209960938,
                                   :y2 816.046875,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 498.046875,
                                   :y1 815.234375,
                                   :x2 896.5077514648438,
                                   :y2 834.234375,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 498.046875,
                                   :y1 834.796875,
                                   :x2 896.5817260742188,
                                   :y2 853.796875,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 498.046875,
                                   :y1 854.265625,
                                   :x2 903.1784057617188,
                                   :y2 873.265625,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 498.046875,
                                   :y1 873.828125,
                                   :x2 608.5679931640625,
                                   :y2 892.828125,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 0,
                                   :y1 1328,
                                   :x2 0,
                                   :y2 1344,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 0,
                                   :y1 1344,
                                   :x2 0,
                                   :y2 1360,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 0,
                                   :y1 1360,
                                   :x2 0,
                                   :y2 1376,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 0,
                                   :y1 1376,
                                   :x2 0,
                                   :y2 1392,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 0,
                                   :y1 1392,
                                   :x2 0,
                                   :y2 1408,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}),
                          :page 12},
               :content {:text "propofol218 in which episodes of hypoxia(SpO 2 < 93%) lasting longer than 15 s occurred significantly more often (41%) among the 58 patients given compressed air by face mask compared with the 59 patients given high-flow oxygen (19%) using the same delivery system"},
               :properties {:color "yellow"}}
              {:id #uuid "644526ad-705d-414a-a4cf-b33b4831047e",
               :page 12,
               :position {:bounding {:x1 0,
                                     :y1 971.328125,
                                     :x2 896.5421142578125,
                                     :y2 1552,
                                     :width 978.2833333333333,
                                     :height 1303.2749999999999},
                          :rects ({:x1 814.6985473632812,
                                   :y1 971.328125,
                                   :x2 896.532958984375,
                                   :y2 990.328125,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 498.046875,
                                   :y1 990.890625,
                                   :x2 896.4581909179688,
                                   :y2 1009.890625,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 498.046875,
                                   :y1 1010.359375,
                                   :x2 544.65625,
                                   :y2 1029.359375,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 555.203125,
                                   :y1 1010.359375,
                                   :x2 687.421875,
                                   :y2 1029.359375,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 697.96875,
                                   :y1 1010.359375,
                                   :x2 896.5421142578125,
                                   :y2 1029.359375,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 540.5625,
                                   :y1 1018.625,
                                   :x2 547.6275024414062,
                                   :y2 1030.625,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 683.328125,
                                   :y1 1018.625,
                                   :x2 690.4087524414062,
                                   :y2 1030.625,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 498.046875,
                                   :y1 1029.921875,
                                   :x2 627.2224731445312,
                                   :y2 1048.921875,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 637.875,
                                   :y1 1029.921875,
                                   :x2 775.5805053710938,
                                   :y2 1048.921875,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 786.21875,
                                   :y1 1029.921875,
                                   :x2 862.80810546875,
                                   :y2 1048.921875,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 873.53125,
                                   :y1 1029.921875,
                                   :x2 896.5172729492188,
                                   :y2 1048.921875,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 498.046875,
                                   :y1 1049.390625,
                                   :x2 563.1805419921875,
                                   :y2 1068.390625,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 0,
                                   :y1 1488,
                                   :x2 0,
                                   :y2 1504,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 0,
                                   :y1 1504,
                                   :x2 0,
                                   :y2 1520,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 0,
                                   :y1 1520,
                                   :x2 0,
                                   :y2 1536,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 0,
                                   :y1 1536,
                                   :x2 0,
                                   :y2 1552,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}),
                          :page 12},
               :content {:text " delays the detection of respiratory depression in patients without EtCO 2 monitors, as SpO 2 levels may not fall until a prolonged period of hypoventilation or apnoea has occurred."},
               :properties {:color "yellow"}}
              {:id #uuid "644526bb-da1f-4801-b3a5-bc3448f461c5",
               :page 12,
               :position {:bounding {:x1 0,
                                     :y1 649.421875,
                                     :x2 896.539306640625,
                                     :y2 1248,
                                     :width 978.2833333333333,
                                     :height 1303.2749999999999},
                          :rects ({:x1 608.3809204101562,
                                   :y1 649.421875,
                                   :x2 896.539306640625,
                                   :y2 668.421875,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 498.03125,
                                   :y1 668.96875,
                                   :x2 547.9532470703125,
                                   :y2 687.96875,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 0,
                                   :y1 1232,
                                   :x2 0,
                                   :y2 1248,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}),
                          :page 12},
               :content {:text "ood consensus: level of evidence B: GoR strong)."},
               :properties {:color "red"}}
              {:id #uuid "644526d6-e8d9-47b2-8fad-310a3f6c6844",
               :page 18,
               :position {:bounding {:x1 0,
                                     :y1 342.96875,
                                     :x2 892.1229248046875,
                                     :y2 1248,
                                     :width 978.2833333333333,
                                     :height 1303.2749999999999},
                          :rects ({:x1 530.546875,
                                   :y1 342.96875,
                                   :x2 892.1229248046875,
                                   :y2 355.96875,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 530.546875,
                                   :y1 357.046875,
                                   :x2 880.7650146484375,
                                   :y2 370.046875,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 530.546875,
                                   :y1 371.125,
                                   :x2 886.5469360351562,
                                   :y2 384.125,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 0,
                                   :y1 1216,
                                   :x2 0,
                                   :y2 1232,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}
                                  {:x1 0,
                                   :y1 1232,
                                   :x2 0,
                                   :y2 1248,
                                   :width 978.2833333333333,
                                   :height 1303.2749999999999}),
                          :page 18},
               :content {:text "Deitch K, Chudnofsky CR, Dominici P, et al. The utility of high-flow oxygen during emergency department procedural sedation and analgesia with propofol: a randomized, controlled trial. Ann Emerg Med 2011; 58:360."},
               :properties {:color "yellow"}}],
 :extra {:page 18}}
