{:highlights [{:id #uuid "6447bec1-c3a1-44af-a52c-99dba4450d30",
               :page 9,
               :position {:bounding {:x1 0,
                                     :y1 222,
                                     :x2 753.8517456054688,
                                     :y2 401.375,
                                     :width 800,
                                     :height 1131.4281106579135},
                          :rects ({:x1 0,
                                   :y1 222,
                                   :x2 0,
                                   :y2 242,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 254.609375,
                                   :y1 369.515625,
                                   :x2 753.8517456054688,
                                   :y2 384.515625,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 254.609375,
                                   :y1 386.375,
                                   :x2 595.1229248046875,
                                   :y2 401.375,
                                   :width 800,
                                   :height 1131.4281106579135}),
                          :page 9},
               :content {:text "Pre-anaesthetic assessment of all patients undergoing endoscopic procedures to evaluate the risk of sedation related to pre-existing pathology."},
               :properties {:color "yellow"}}
              {:id #uuid "6447bed0-9b7e-4e96-a1e6-f5702a7642f6",
               :page 9,
               :position {:bounding {:x1 254.5372314453125,
                                     :y1 504.46875,
                                     :x2 738.6632080078125,
                                     :y2 519.46875,
                                     :width 800,
                                     :height 1131.4281106579135},
                          :rects ({:x1 254.5372314453125,
                                   :y1 504.46875,
                                   :x2 738.6632080078125,
                                   :y2 519.46875,
                                   :width 800,
                                   :height 1131.4281106579135}),
                          :page 9},
               :content {:text "Supplemental oxygen administration considered for moderate and deep sedation."},
               :properties {:color "yellow"}}
              {:id #uuid "6447bed8-eec4-4d74-ae93-7420bef443a9",
               :page 9,
               :position {:bounding {:x1 254.609375,
                                     :y1 521.34375,
                                     :x2 708.2916870117188,
                                     :y2 536.34375,
                                     :width 800,
                                     :height 1131.4281106579135},
                          :rects ({:x1 254.609375,
                                   :y1 521.34375,
                                   :x2 708.2916870117188,
                                   :y2 536.34375,
                                   :width 800,
                                   :height 1131.4281106579135}),
                          :page 9},
               :content {:text "Capnography monitoring considered for patients undergoing deep sedation."},
               :properties {:color "yellow"}}
              {:id #uuid "6447bee7-1745-4f96-9791-739e9c216d92",
               :page 9,
               :position {:bounding {:x1 0,
                                     :y1 414,
                                     :x2 752.0301513671875,
                                     :y2 607.84375,
                                     :width 800,
                                     :height 1131.4281106579135},
                          :rects ({:x1 0,
                                   :y1 414,
                                   :x2 0,
                                   :y2 434,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 260.44464111328125,
                                   :y1 575.96875,
                                   :x2 752.0301513671875,
                                   :y2 590.96875,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 223.203125,
                                   :y1 592.84375,
                                   :x2 554.850830078125,
                                   :y2 607.84375,
                                   :width 800,
                                   :height 1131.4281106579135}),
                          :page 9},
               :content {:text "he paucity of data available to guide anaesthesiologists in selecting between deep propofol sedation and general anaesthesia/intubation "},
               :properties {:color "red"}}
              {:id #uuid "6447bf07-586e-4e7c-9aa3-d0fbe1809716",
               :page 1,
               :position {:bounding {:x1 252.1875,
                                     :y1 751.109375,
                                     :x2 456.6400451660156,
                                     :y2 766.109375,
                                     :width 800,
                                     :height 1131.4281106579135},
                          :rects ({:x1 252.1875,
                                   :y1 751.109375,
                                   :x2 456.6400451660156,
                                   :y2 766.109375,
                                   :width 800,
                                   :height 1131.4281106579135}),
                          :page 1},
               :content {:text "Advanced endoscopic procedures"},
               :properties {:color "red"}}
              {:id #uuid "6447bf09-6261-48a0-9d4e-af374883371c",
               :page 1,
               :position {:bounding {:x1 294.1612854003906,
                                     :y1 767.984375,
                                     :x2 332.924072265625,
                                     :y2 782.984375,
                                     :width 800,
                                     :height 1131.4281106579135},
                          :rects ({:x1 294.1612854003906,
                                   :y1 767.984375,
                                   :x2 332.924072265625,
                                   :y2 782.984375,
                                   :width 800,
                                   :height 1131.4281106579135}),
                          :page 1},
               :content {:text "ERCP"},
               :properties {:color "yellow"}}
              {:id #uuid "6447bf0d-4ca1-4634-a2b5-f579e8a66426",
               :page 1,
               :position {:bounding {:x1 364.6968688964844,
                                     :y1 767.984375,
                                     :x2 508.16326904296875,
                                     :y2 782.984375,
                                     :width 800,
                                     :height 1131.4281106579135},
                          :rects ({:x1 364.6968688964844,
                                   :y1 767.984375,
                                   :x2 508.16326904296875,
                                   :y2 782.984375,
                                   :width 800,
                                   :height 1131.4281106579135}),
                          :page 1},
               :content {:text " endoscopic ultrasound"},
               :properties {:color "yellow"}}
              {:id #uuid "6447bf15-dc09-47dc-b50a-fb932642c7b0",
               :page 1,
               :position {:bounding {:x1 227.6959686279297,
                                     :y1 784.84375,
                                     :x2 287.3504943847656,
                                     :y2 799.84375,
                                     :width 800,
                                     :height 1131.4281106579135},
                          :rects ({:x1 227.6959686279297,
                                   :y1 784.84375,
                                   :x2 287.3504943847656,
                                   :y2 799.84375,
                                   :width 800,
                                   :height 1131.4281106579135}),
                          :page 1},
               :content {:text "EUS-FNA"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
