{:highlights [{:id #uuid "6447c34e-92a0-4392-a3f2-a063d3865d87",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 627.6093139648438,
                                     :y2 139.671875,
                                     :width 719.9999999999999,
                                     :height 1080},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 18,
                                   :width 719.9999999999999,
                                   :height 1080}
                                  {:x1 0,
                                   :y1 14,
                                   :x2 0,
                                   :y2 34,
                                   :width 719.9999999999999,
                                   :height 1080}
                                  {:x1 238.1365966796875,
                                   :y1 86.203125,
                                   :x2 627.323974609375,
                                   :y2 103.203125,
                                   :width 719.9999999999999,
                                   :height 1080}
                                  {:x1 63.109375,
                                   :y1 104.4375,
                                   :x2 627.6093139648438,
                                   :y2 121.4375,
                                   :width 719.9999999999999,
                                   :height 1080}
                                  {:x1 63.109375,
                                   :y1 122.671875,
                                   :x2 297.03057861328125,
                                   :y2 139.671875,
                                   :width 719.9999999999999,
                                   :height 1080}),
                          :page 3},
               :content {:text "The patient’s medical status, including whether the patient is at risk for aspiration and requires protection of the airway with an endotracheal tube, is an essential factor to consider. "},
               :properties {:color "yellow"}}
              {:id #uuid "6447c44a-a3e8-4182-9347-15714d49e4a2",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 30,
                                     :x2 627.5844116210938,
                                     :y2 194.46875,
                                     :width 719.9999999999999,
                                     :height 1080},
                          :rects ({:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 50,
                                   :width 719.9999999999999,
                                   :height 1080}
                                  {:x1 0,
                                   :y1 46,
                                   :x2 0,
                                   :y2 66,
                                   :width 719.9999999999999,
                                   :height 1080}
                                  {:x1 0,
                                   :y1 62,
                                   :x2 0,
                                   :y2 82,
                                   :width 719.9999999999999,
                                   :height 1080}
                                  {:x1 297.0140075683594,
                                   :y1 122.671875,
                                   :x2 627.2176513671875,
                                   :y2 139.671875,
                                   :width 719.9999999999999,
                                   :height 1080}
                                  {:x1 63.109375,
                                   :y1 141,
                                   :x2 627.5458984375,
                                   :y2 158,
                                   :width 719.9999999999999,
                                   :height 1080}
                                  {:x1 63.109375,
                                   :y1 159.234375,
                                   :x2 627.5844116210938,
                                   :y2 176.234375,
                                   :width 719.9999999999999,
                                   :height 1080}
                                  {:x1 63.109375,
                                   :y1 177.46875,
                                   :x2 302.4501037597656,
                                   :y2 194.46875,
                                   :width 719.9999999999999,
                                   :height 1080}),
                          :page 3},
               :content {:text "The complexity of the GI procedure, the patient position required to perform the procedure, and the proximity of the anesthesia care provider to the patient’s airway during the procedure also must be considered when developing an anesthetic pla"},
               :properties {:color "yellow"}}
              {:id #uuid "6447c45a-fe83-43d9-9054-58aea920b232",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 94,
                                     :x2 627.5531616210938,
                                     :y2 231.03125,
                                     :width 719.9999999999999,
                                     :height 1080},
                          :rects ({:x1 0,
                                   :y1 94,
                                   :x2 0,
                                   :y2 114,
                                   :width 719.9999999999999,
                                   :height 1080}
                                  {:x1 260.0886535644531,
                                   :y1 195.796875,
                                   :x2 627.5531616210938,
                                   :y2 212.796875,
                                   :width 719.9999999999999,
                                   :height 1080}
                                  {:x1 63.109375,
                                   :y1 214.03125,
                                   :x2 445.0615539550781,
                                   :y2 231.03125,
                                   :width 719.9999999999999,
                                   :height 1080}),
                          :page 3},
               :content {:text "a patient’s history of failed sedation by non-anesthesia health care providers, substance abuse, or mental illness"},
               :properties {:color "yellow"}}
              {:id #uuid "6447c64d-760b-455b-a056-e122b53dccc5",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 270,
                                     :x2 627.6016845703125,
                                     :y2 468.46875,
                                     :width 719.9999999999999,
                                     :height 1080},
                          :rects ({:x1 0,
                                   :y1 270,
                                   :x2 0,
                                   :y2 290,
                                   :width 719.9999999999999,
                                   :height 1080}
                                  {:x1 0,
                                   :y1 286,
                                   :x2 0,
                                   :y2 306,
                                   :width 719.9999999999999,
                                   :height 1080}
                                  {:x1 0,
                                   :y1 302,
                                   :x2 0,
                                   :y2 322,
                                   :width 719.9999999999999,
                                   :height 1080}
                                  {:x1 78.046875,
                                   :y1 396.671875,
                                   :x2 627.6016845703125,
                                   :y2 413.671875,
                                   :width 719.9999999999999,
                                   :height 1080}
                                  {:x1 63.109375,
                                   :y1 414.890625,
                                   :x2 627.552978515625,
                                   :y2 431.890625,
                                   :width 719.9999999999999,
                                   :height 1080}
                                  {:x1 63.109375,
                                   :y1 433.234375,
                                   :x2 627.5059204101562,
                                   :y2 450.234375,
                                   :width 719.9999999999999,
                                   :height 1080}
                                  {:x1 63.109375,
                                   :y1 451.46875,
                                   :x2 453.4338684082031,
                                   :y2 468.46875,
                                   :width 719.9999999999999,
                                   :height 1080}),
                          :page 3},
               :content {:text "One challenge for both gastroenterologists and anesthesiologists is to predict before the procedure which patients will require deep sedation or general anesthesia not because of the patient’s medical condition or the complexity of the procedure but to provide sufficient patient cooperation and comfort. "},
               :properties {:color "red"}}],
 :extra {:page 1}}
