{:highlights [{:id #uuid "643ebc81-2e90-4f53-acfc-21047c196858",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 722.1609497070312,
                                     :y2 570.265625,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 18,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 155.03125,
                                   :y1 528.515625,
                                   :x2 722.1536254882812,
                                   :y2 541.515625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 77.84375,
                                   :y1 542.890625,
                                   :x2 722.1609497070312,
                                   :y2 555.890625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 77.84375,
                                   :y1 557.265625,
                                   :x2 189.9279022216797,
                                   :y2 570.265625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 1},
               :content {:text "HFNC use in patients undergoing EUS is not superior when compared to conventional nasal cannula oxygen therapy. HFNC failed to show any significant impact on decreasing the risk of desaturation events and airway manipulation during the procedure."},
               :properties {:color "yellow"}}
              {:id #uuid "643ebcc0-0dfc-489e-bf16-6c44c75dbd84",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 729.6143798828125,
                                     :y2 671.296875,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 18,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 684.6864013671875,
                                   :y1 587.078125,
                                   :x2 729.5432739257812,
                                   :y2 603.078125,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 411.75,
                                   :y1 604.140625,
                                   :x2 729.57275390625,
                                   :y2 620.140625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 411.75,
                                   :y1 621.1875,
                                   :x2 729.6143798828125,
                                   :y2 637.1875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 411.75,
                                   :y1 638.25,
                                   :x2 729.3641967773438,
                                   :y2 654.25,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 411.75,
                                   :y1 655.296875,
                                   :x2 527.8433837890625,
                                   :y2 671.296875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 2},
               :content {:text "1 μg/kg fentanyl and 1.5 mg/kg propofol bolus over 30 s, which was followed by an infusion of propofol (25–100mcg/kg/min) using a syringe pump to maintain a target BIS of 50–60 during the procedure. "},
               :properties {:color "yellow"}}
              {:id #uuid "643ebd19-ef13-4ce5-8661-a6641d9853c7",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 729.7113647460938,
                                     :y2 247.671875,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 18,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 648.0198364257812,
                                   :y1 197.5625,
                                   :x2 729.7113647460938,
                                   :y2 213.5625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 411.75,
                                   :y1 214.625,
                                   :x2 729.5169067382812,
                                   :y2 230.625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 411.75,
                                   :y1 231.671875,
                                   :x2 729.5634155273438,
                                   :y2 247.671875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 2},
               :content {:text " BIS disposable SomaSensor transducers were applied on the forehead (Invos5100C, Covidien, USA) to monitor the depth of sedation."},
               :properties {:color "yellow"}}
              {:id #uuid "643ebd42-1441-4920-a1a6-3ed6ecbac2a2",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 388.3881530761719,
                                     :y2 551.546875,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 18,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 132.19717407226562,
                                   :y1 500.203125,
                                   :x2 388.3733825683594,
                                   :y2 516.203125,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 70.4375,
                                   :y1 517.875,
                                   :x2 388.3881530761719,
                                   :y2 533.875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 70.4375,
                                   :y1 535.546875,
                                   :x2 207.76148986816406,
                                   :y2 551.546875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 2},
               :content {:text "comparatively evaluate the efficacy of oxygenation(viz. desaturation events and respiratory rate) of two different oxygen delivery devices"},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
