{:highlights [{:id #uuid "643eb90e-bdce-47a3-86d4-29db7495df65",
               :page 1,
               :position {:bounding {:x1 184.9752197265625,
                                     :y1 494.953125,
                                     :x2 368.6009826660156,
                                     :y2 509.953125,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 184.9752197265625,
                                   :y1 494.953125,
                                   :x2 368.6009826660156,
                                   :y2 509.953125,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 1},
               :content {:text " eight randomized control studies"},
               :properties {:color "yellow"}}
              {:id #uuid "643eb921-3a55-455a-baad-2b255fd7d3be",
               :page 1,
               :position {:bounding {:x1 391.9169921875,
                                     :y1 494.953125,
                                     :x2 518.5836791992188,
                                     :y2 509.953125,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 391.9169921875,
                                   :y1 494.953125,
                                   :x2 518.5836791992188,
                                   :y2 509.953125,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 1},
               :content {:text " one longitudinal study"},
               :properties {:color "yellow"}}
              {:id #uuid "643eb942-5c40-4d13-80cf-ce2067c86999",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 731.4635009765625,
                                     :y2 593.953125,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 302,
                                   :x2 0,
                                   :y2 322,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 318,
                                   :x2 0,
                                   :y2 338,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 334,
                                   :x2 0,
                                   :y2 354,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 350,
                                   :x2 0,
                                   :y2 370,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 682.875,
                                   :y1 509.671875,
                                   :x2 731.4635009765625,
                                   :y2 519.671875,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 239.87222290039062,
                                   :y1 511.75,
                                   :x2 731.4635009765625,
                                   :y2 526.75,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 528.546875,
                                   :x2 731.4253540039062,
                                   :y2 543.546875,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 545.359375,
                                   :x2 731.4053955078125,
                                   :y2 560.359375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 562.15625,
                                   :x2 731.41357421875,
                                   :y2 577.15625,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 73.109375,
                                   :y1 576.875,
                                   :x2 88.994140625,
                                   :y2 586.875,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 578.953125,
                                   :x2 115.42237091064453,
                                   :y2 593.953125,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 1},
               :content {:text "lesser incidence of desaturation spells (odds ratio [OR] = 0.23; 95% CI 0.11–0.48; I2 = 71%), reduced procedural interruption (OR = 0.11; 95% CI 0.02–0.60; I2 = 88%), better nadir SpO 2 level during procedure (mean difference [MD] = 3.16; 95% CI 0.54–5.78; I2 = 73%), overall lesser incidence of sedation-related adverse events (OR = 0.63;95% CI 0.42–0.93; I2 = 25%), with no significant impact on the duration of endoscopy (MD = 0.15; 95% CI − 0.02 to 0.31, I2 = 0%)."},
               :properties {:color "red"}}
              {:id #uuid "643eb99b-02c1-4cfe-99d1-6d145496c77a",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 830.46875,
                                     :x2 731.3815307617188,
                                     :y2 1202,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 479.9723815917969,
                                   :y1 830.46875,
                                   :x2 731.307861328125,
                                   :y2 845.46875,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 411.421875,
                                   :y1 847.265625,
                                   :x2 731.3815307617188,
                                   :y2 862.265625,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 411.421875,
                                   :y1 864.0625,
                                   :x2 608.3865966796875,
                                   :y2 879.0625,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 1166,
                                   :x2 0,
                                   :y2 1186,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 1182,
                                   :x2 0,
                                   :y2 1202,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 3},
               :content {:text "Patients receiving HFNO under sedation had a lesser risk of desaturation in comparison to patients with low-flow oxygen delivery devices"},
               :properties {:color "yellow"}}
              {:id #uuid "643eb9bd-c673-4e5b-92b9-36ab03e5b6ad",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 30,
                                     :x2 388.61651611328125,
                                     :y2 718.78125,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 50,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 46,
                                   :x2 0,
                                   :y2 66,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 62,
                                   :x2 0,
                                   :y2 82,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 249.1822967529297,
                                   :y1 653.390625,
                                   :x2 388.1640625,
                                   :y2 668.390625,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 670.1875,
                                   :x2 388.61651611328125,
                                   :y2 685.1875,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 686.984375,
                                   :x2 388.5472717285156,
                                   :y2 701.984375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 703.78125,
                                   :x2 157.74429321289062,
                                   :y2 718.78125,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 4},
               :content {:text "The application of HFNO with sedation during upper GI endoscopic procedures had a lower risk of interruption in between than low-flow oxygen delivery devices"},
               :properties {:color "yellow"}}
              {:id #uuid "643eb9d4-58ff-4e4f-bb34-c2cc5473656d",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 126,
                                     :x2 388.5648193359375,
                                     :y2 819.578125,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 146,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 787.78125,
                                   :x2 388.5648193359375,
                                   :y2 802.78125,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 804.578125,
                                   :x2 227.88168334960938,
                                   :y2 819.578125,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 4},
               :content {:text "No significant alteration in the overall duration of endoscopic procedures was found"},
               :properties {:color "yellow"}}
              {:id #uuid "643eb9f7-2bb4-4687-9620-53c0964ef184",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 254,
                                     :x2 731.5577392578125,
                                     :y2 718.78125,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 0,
                                   :y1 254,
                                   :x2 0,
                                   :y2 274,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 270,
                                   :x2 0,
                                   :y2 290,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 446.53485107421875,
                                   :y1 670.1875,
                                   :x2 731.5294799804688,
                                   :y2 685.1875,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 411.421875,
                                   :y1 686.984375,
                                   :x2 731.5577392578125,
                                   :y2 701.984375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 411.421875,
                                   :y1 703.78125,
                                   :x2 501.5577697753906,
                                   :y2 718.78125,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 4},
               :content {:text " HFNO was associated with a reduced risk of adverse events in comparison to patients with low-flow oxygen delivery devices"},
               :properties {:color "yellow"}}
              {:id #uuid "643eba19-18b5-4d1c-9f8a-b756dff6ef58",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 731.3916015625,
                                     :y2 853.171875,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 350,
                                   :x2 0,
                                   :y2 370,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 366,
                                   :x2 0,
                                   :y2 386,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 539.2880859375,
                                   :y1 804.578125,
                                   :x2 731.1633911132812,
                                   :y2 819.578125,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 411.421875,
                                   :y1 821.375,
                                   :x2 731.3916015625,
                                   :y2 836.375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 625.265625,
                                   :y1 828.03125,
                                   :x2 630.351806640625,
                                   :y2 838.03125,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 411.421875,
                                   :y1 838.171875,
                                   :x2 599.7354125976562,
                                   :y2 853.171875,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 4},
               :content {:text "The patients with HFNO showed significantly elevated nadir lowest SpO 2 than patients with low-flow oxygen delivery devices"},
               :properties {:color "yellow"}}
              {:id #uuid "643eba42-f20b-4d73-90f6-a0eb86649c62",
               :page 6,
               :position {:bounding {:x1 411.421875,
                                     :y1 108.265625,
                                     :x2 731.2147216796875,
                                     :y2 123.265625,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 411.421875,
                                   :y1 108.265625,
                                   :x2 731.2147216796875,
                                   :y2 123.265625,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 6},
               :content {:text "No significant difference in overall propofol consumption"},
               :properties {:color "yellow"}}],
 :extra {:page 11}}
