{:highlights [{:id #uuid "643e4c7e-275f-46da-8d14-0f9a64bd987b",
               :page 2,
               :position {:bounding {:x1 426.65625,
                                     :y1 361.515625,
                                     :x2 536.822998046875,
                                     :y2 376.515625,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 426.65625,
                                   :y1 361.515625,
                                   :x2 536.822998046875,
                                   :y2 376.515625,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 2},
               :content {:text "OptiFlow THRIVE"},
               :properties {:color "green"}}
              {:id #uuid "643e4c93-cd4e-4832-b79d-f979a9cdefc8",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 846.84375,
                                     :x2 731.3694458007812,
                                     :y2 1522,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 670.6988525390625,
                                   :y1 846.84375,
                                   :x2 730.310791015625,
                                   :y2 861.84375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 411.421875,
                                   :y1 863.609375,
                                   :x2 731.3694458007812,
                                   :y2 878.609375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 411.421875,
                                   :y1 880.375,
                                   :x2 729.9253540039062,
                                   :y2 895.375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 411.421875,
                                   :y1 897.0625,
                                   :x2 730.8890991210938,
                                   :y2 912.0625,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 1470,
                                   :x2 0,
                                   :y2 1490,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 1486,
                                   :x2 0,
                                   :y2 1506,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 1502,
                                   :x2 0,
                                   :y2 1522,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 2},
               :content {:text "The study population consisted of 72 patients aged 20 yr and older with American Society of Anesthesiologists physical status class I-IV, and who underwent ERCP in the prone position."},
               :properties {:color "green"}}
              {:id #uuid "643e527f-20ff-4e66-b7df-8d4e49413454",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 254,
                                     :x2 388.4512939453125,
                                     :y2 426.796875,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 0,
                                   :y1 254,
                                   :x2 0,
                                   :y2 274,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 270,
                                   :x2 0,
                                   :y2 290,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 103.84158325195312,
                                   :y1 378.359375,
                                   :x2 387.7526550292969,
                                   :y2 393.359375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 395.046875,
                                   :x2 388.4512939453125,
                                   :y2 410.046875,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 411.796875,
                                   :x2 225.3638916015625,
                                   :y2 426.796875,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 3},
               :content {:text "As a capnography sensor could not be connected to the HFNO system, capnography monitoring was performed only in the control group."},
               :properties {:color "green"}}
              {:id #uuid "643e529e-5050-4cee-8f74-863ee2d903d5",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 318,
                                     :x2 388.56231689453125,
                                     :y2 543.984375,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 0,
                                   :y1 318,
                                   :x2 0,
                                   :y2 338,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 334,
                                   :x2 0,
                                   :y2 354,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 350,
                                   :x2 0,
                                   :y2 370,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 366,
                                   :x2 0,
                                   :y2 386,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 382,
                                   :x2 0,
                                   :y2 402,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 445.25,
                                   :x2 388.52593994140625,
                                   :y2 460.25,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 125.25,
                                   :y1 459.734375,
                                   :x2 388.56231689453125,
                                   :y2 469.734375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 462.015625,
                                   :x2 125.21582794189453,
                                   :y2 477.015625,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 141.78125,
                                   :y1 462.015625,
                                   :x2 388.56231689453125,
                                   :y2 477.015625,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 478.78125,
                                   :x2 388.54400634765625,
                                   :y2 493.78125,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 101.40625,
                                   :y1 493.171875,
                                   :x2 388.2401123046875,
                                   :y2 503.171875,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 495.46875,
                                   :x2 101.37207794189453,
                                   :y2 510.46875,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 118.46875,
                                   :y1 495.46875,
                                   :x2 388.2401123046875,
                                   :y2 510.46875,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 512.234375,
                                   :x2 387.68072509765625,
                                   :y2 527.234375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 528.984375,
                                   :x2 216.27552795410156,
                                   :y2 543.984375,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 3},
               :content {:text "Then, in the control group, 100% oxygen was administered at 5 Lmin-1 via a nasal cannula throughout the procedure. In the HFNO group, 100% oxygen was administered at 50 Lmin-1 via an HFNO system (OptiFlow THRIVE, Fisher and Paykel Healthcare, Panmure, Auckland, New Zealand) throughout the procedure"},
               :properties {:color "yellow"}}
              {:id #uuid "643e52bd-b491-4c2c-b80f-3ceded0045ad",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 398,
                                     :x2 388.53924560546875,
                                     :y2 577.4375,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 0,
                                   :y1 398,
                                   :x2 0,
                                   :y2 418,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 414,
                                   :x2 0,
                                   :y2 434,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 375.6875,
                                   :y1 526.703125,
                                   :x2 387.984375,
                                   :y2 536.703125,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 228.859375,
                                   :y1 528.984375,
                                   :x2 375.6701354980469,
                                   :y2 543.984375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 545.671875,
                                   :x2 388.20220947265625,
                                   :y2 560.671875,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 339.046875,
                                   :y1 560.140625,
                                   :x2 380.7039489746094,
                                   :y2 570.140625,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 562.4375,
                                   :x2 338.9918518066406,
                                   :y2 577.4375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 354.4375,
                                   :y1 562.4375,
                                   :x2 367.8263854980469,
                                   :y2 577.4375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 380.71875,
                                   :y1 562.4375,
                                   :x2 388.53924560546875,
                                   :y2 577.4375,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 3},
               :content {:text "A bolus of 0.5 mg. kg-1 propofol and 1.0 lg fentanyl IV was delivered followed by continuous infusion of propofol (30 lg.min-1. kg-1 )."},
               :properties {:color "yellow"}}
              {:id #uuid "643e54ab-7697-4bb9-8022-b48139356458",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 702,
                                     :x2 388.54229736328125,
                                     :y2 928.90625,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 0,
                                   :y1 702,
                                   :x2 0,
                                   :y2 722,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 718,
                                   :x2 0,
                                   :y2 738,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 880.453125,
                                   :x2 388.4962158203125,
                                   :y2 895.453125,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 897.140625,
                                   :x2 388.54229736328125,
                                   :y2 912.140625,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 913.90625,
                                   :x2 127.31866455078125,
                                   :y2 928.90625,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 3},
               :content {:text "The primary outcome in the present study was the lowest oxygen saturation measured via pulse oximetry during the procedure."},
               :properties {:color "red"}}
              {:id #uuid "643e54d2-587f-4a71-8be6-e44a6bf4c22e",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 294.625,
                                     :x2 731.3848876953125,
                                     :y2 450,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 411.421875,
                                   :y1 294.625,
                                   :x2 731.3848876953125,
                                   :y2 309.625,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 411.421875,
                                   :y1 311.390625,
                                   :x2 730.8670043945312,
                                   :y2 326.390625,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 411.421875,
                                   :y1 328.15625,
                                   :x2 731.3773193359375,
                                   :y2 343.15625,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 411.421875,
                                   :y1 344.84375,
                                   :x2 731.3338623046875,
                                   :y2 359.84375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 411.421875,
                                   :y1 361.59375,
                                   :x2 552.9037475585938,
                                   :y2 376.59375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 382,
                                   :x2 0,
                                   :y2 402,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 398,
                                   :x2 0,
                                   :y2 418,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 414,
                                   :x2 0,
                                   :y2 434,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 430,
                                   :x2 0,
                                   :y2 450,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 4},
               :content {:text "The present study revealed that HFNO use could improve oxygenation during ERCP in the prone position compared with conventional management using a nasal cannula. In addition, no episodes of hypoxemia or hypercapnia occurred with HFNO use"},
               :properties {:color "yellow"}}
              {:id #uuid "644684ab-7562-41fe-aa70-64e77e17e802",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 830,
                                     :x2 731.414306640625,
                                     :y2 942.921875,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 0,
                                   :y1 830,
                                   :x2 0,
                                   :y2 850,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 846,
                                   :x2 0,
                                   :y2 866,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 426.65625,
                                   :y1 860.953125,
                                   :x2 731.3499145507812,
                                   :y2 875.953125,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 862,
                                   :x2 0,
                                   :y2 882,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 411.421875,
                                   :y1 877.703125,
                                   :x2 731.414306640625,
                                   :y2 892.703125,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 878,
                                   :x2 0,
                                   :y2 898,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 411.421875,
                                   :y1 894.390625,
                                   :x2 731.3326416015625,
                                   :y2 909.390625,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 411.421875,
                                   :y1 911.15625,
                                   :x2 730.904052734375,
                                   :y2 926.15625,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 411.421875,
                                   :y1 927.921875,
                                   :x2 494.9956970214844,
                                   :y2 942.921875,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 5},
               :content {:text "In conclusion, the results of the present study showed that, compared with the conventional nasal cannula, the HFNO system provides adequate oxygenation without procedure interruption in patients undergoing ERCP in the prone position."},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
