{:highlights [{:id #uuid "643eaccc-4f9e-4592-90d2-c506bbf2b066",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 302.671875,
                                     :x2 749.42138671875,
                                     :y2 882,
                                     :width 800,
                                     :height 1066.6662186951937},
                          :rects ({:x1 428.796875,
                                   :y1 302.671875,
                                   :x2 749.42138671875,
                                   :y2 314.671875,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 412.03125,
                                   :y1 316.6875,
                                   :x2 747.9376831054688,
                                   :y2 328.6875,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 412.03125,
                                   :y1 330.78125,
                                   :x2 749.3458862304688,
                                   :y2 342.78125,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 412.03125,
                                   :y1 344.8125,
                                   :x2 749.3447875976562,
                                   :y2 356.8125,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 412.03125,
                                   :y1 358.90625,
                                   :x2 576.5631103515625,
                                   :y2 370.90625,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 814,
                                   :x2 0,
                                   :y2 834,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 830,
                                   :x2 0,
                                   :y2 850,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 846,
                                   :x2 0,
                                   :y2 866,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 862,
                                   :x2 0,
                                   :y2 882,
                                   :width 800,
                                   :height 1066.6662186951937}),
                          :page 2},
               :content {:text "Obesity is one of the well-known risk factors associated with desaturation events during sedation. A prospective study conducted by Wani et al. showed that obese patients had two times the risk of sedationrelated complications and need for airway maneuver while undergoing advanced endoscopic procedures"},
               :properties {:color "yellow"}}
              {:id #uuid "643ead51-8410-4d26-9eab-cb331ea94847",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 286,
                                     :x2 387.9425354003906,
                                     :y2 758.109375,
                                     :width 800,
                                     :height 1066.6662186951937},
                          :rects ({:x1 0,
                                   :y1 286,
                                   :x2 0,
                                   :y2 306,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 302,
                                   :x2 0,
                                   :y2 322,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 307.70269775390625,
                                   :y1 718,
                                   :x2 387.6611633300781,
                                   :y2 730,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 50.5,
                                   :y1 732.015625,
                                   :x2 387.9425354003906,
                                   :y2 744.015625,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 50.5,
                                   :y1 746.109375,
                                   :x2 350.0057067871094,
                                   :y2 758.109375,
                                   :width 800,
                                   :height 1066.6662186951937}),
                          :page 3},
               :content {:text "The objective of this case series was to report the successful use of HFNC in obese patients undergoing colonoscopies under sedation with propofol"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
