{:highlights [{:id #uuid "643e7bbc-9d7a-4f5b-8d44-2d7a3c257b24",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 254,
                                     :x2 388.5876770019531,
                                     :y2 391.890625,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 0,
                                   :y1 254,
                                   :x2 0,
                                   :y2 274,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 360.09375,
                                   :x2 388.5876770019531,
                                   :y2 375.09375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 376.890625,
                                   :x2 346.9112548828125,
                                   :y2 391.890625,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 3},
               :content {:text "The primary end point was the hypoxia, which was defined as an oxygen saturation (SpO2) value less than 90%"},
               :properties {:color "yellow"}}
              {:id #uuid "643e7bd9-962c-4780-b0b8-374d702bd454",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 388.8020935058594,
                                     :y2 282.640625,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 94,
                                   :x2 0,
                                   :y2 114,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 130,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 146,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 142,
                                   :x2 0,
                                   :y2 162,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 363.5614013671875,
                                   :y1 200.4375,
                                   :x2 388.0794677734375,
                                   :y2 215.4375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 217.234375,
                                   :x2 388.8020935058594,
                                   :y2 232.234375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 234.046875,
                                   :x2 388.6683044433594,
                                   :y2 249.046875,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 250.84375,
                                   :x2 388.4776611328125,
                                   :y2 265.84375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 68.5625,
                                   :y1 267.640625,
                                   :x2 178.5365753173828,
                                   :y2 282.640625,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 5},
               :content {:text " The primary end point of hypoxia events occurred less frequently in the group of receiving HFNC oxygenation than in the group of receiving low-flow nasal cannula oxygenation (4% vs. 13%, p = 0.031)"},
               :properties {:color "yellow"}}
              {:id #uuid "643e7c07-810f-437c-a104-720c2880d285",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 512.46875,
                                     :x2 732.2709350585938,
                                     :y2 1250,
                                     :width 800,
                                     :height 1062.8562213158268},
                          :rects ({:x1 411.421875,
                                   :y1 512.46875,
                                   :x2 730.8895874023438,
                                   :y2 527.46875,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 411.421875,
                                   :y1 529.265625,
                                   :x2 732.2709350585938,
                                   :y2 544.265625,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 411.421875,
                                   :y1 546.0625,
                                   :x2 731.5256958007812,
                                   :y2 561.0625,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 411.421875,
                                   :y1 562.859375,
                                   :x2 731.9796752929688,
                                   :y2 577.859375,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 411.421875,
                                   :y1 579.65625,
                                   :x2 506.22589111328125,
                                   :y2 594.65625,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 1182,
                                   :x2 0,
                                   :y2 1202,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 1198,
                                   :x2 0,
                                   :y2 1218,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 1214,
                                   :x2 0,
                                   :y2 1234,
                                   :width 800,
                                   :height 1062.8562213158268}
                                  {:x1 0,
                                   :y1 1230,
                                   :x2 0,
                                   :y2 1250,
                                   :width 800,
                                   :height 1062.8562213158268}),
                          :page 2},
               :content {:text "An initial bolus of propofol (0.5–1 mg/kg) was administered intravenously, followed by a repeated bolus (10–20 mg) according to the patient’s condition, or continuous propofol infusion (2–6 mg/kg/h, with an additional bolus administered as needed)."},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
