{:highlights [{:id #uuid "643e5ea2-544a-4ff8-9077-3fa3253327ca",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 142,
                                     :x2 388.9103698730469,
                                     :y2 303.703125,
                                     :width 800,
                                     :height 1037.03810166214},
                          :rects ({:x1 0,
                                   :y1 142,
                                   :x2 0,
                                   :y2 162,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 0,
                                   :y1 158,
                                   :x2 0,
                                   :y2 178,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 0,
                                   :y1 174,
                                   :x2 0,
                                   :y2 194,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 0,
                                   :y1 190,
                                   :x2 0,
                                   :y2 210,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 0,
                                   :y1 206,
                                   :x2 0,
                                   :y2 226,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 96.734375,
                                   :y1 224.40625,
                                   :x2 388.8661193847656,
                                   :y2 235.40625,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 81.46875,
                                   :y1 238.046875,
                                   :x2 388.9103698730469,
                                   :y2 249.046875,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 81.46875,
                                   :y1 251.75,
                                   :x2 388.8394775390625,
                                   :y2 262.75,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 81.46875,
                                   :y1 265.375,
                                   :x2 387.5210876464844,
                                   :y2 276.375,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 81.46875,
                                   :y1 279.078125,
                                   :x2 388.8731689453125,
                                   :y2 290.078125,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 81.46875,
                                   :y1 292.703125,
                                   :x2 368.3652648925781,
                                   :y2 303.703125,
                                   :width 800,
                                   :height 1037.03810166214}),
                          :page 3},
               :content {:text "In the high-flow nasal oxygen group, pre-oxygenation with a gas flow of 40 L min1 and FiO 2 1.00 was applied at least 3 min before anaesthesia induction by using the Thrive device(Fisher and Paykel Healthcare, Auckland, New Zealand). At the time of abolition of the eyelash reflex, the gas flow was increased to 70 L min1 and the FiO 2 was lowered to 0.50."},
               :properties {:color "yellow"}}
              {:id #uuid "643e5ed5-13e2-4982-a272-1771d6cb10f7",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 414,
                                     :x2 388.84222412109375,
                                     :y2 520.75,
                                     :width 800,
                                     :height 1037.03810166214},
                          :rects ({:x1 0,
                                   :y1 414,
                                   :x2 0,
                                   :y2 434,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 0,
                                   :y1 430,
                                   :x2 0,
                                   :y2 450,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 301.3169860839844,
                                   :y1 482.40625,
                                   :x2 388.8139953613281,
                                   :y2 493.40625,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 81.46875,
                                   :y1 496.046875,
                                   :x2 388.84222412109375,
                                   :y2 507.046875,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 81.46875,
                                   :y1 509.75,
                                   :x2 385.71240234375,
                                   :y2 520.75,
                                   :width 800,
                                   :height 1037.03810166214}),
                          :page 3},
               :content {:text " the anaesthesia regimen was left to the discretion of the anaesthesia team, but all anaesthesia protocols were started with propofol infusion"},
               :properties {:color "yellow"}}
              {:id #uuid "643e5f13-f58a-4853-9f7f-76f58f1e40c9",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 202.78125,
                                     :x2 376.6286315917969,
                                     :y2 1778,
                                     :width 800,
                                     :height 1037.03810166214},
                          :rects ({:x1 103.765625,
                                   :y1 202.78125,
                                   :x2 376.5782775878906,
                                   :y2 213.78125,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 103.765625,
                                   :y1 216.40625,
                                   :x2 376.5618896484375,
                                   :y2 227.40625,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 103.765625,
                                   :y1 230.109375,
                                   :x2 376.6286315917969,
                                   :y2 241.109375,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 103.765625,
                                   :y1 243.75,
                                   :x2 376.5614929199219,
                                   :y2 254.75,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 103.765625,
                                   :y1 257.453125,
                                   :x2 376.6239929199219,
                                   :y2 268.453125,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 103.765625,
                                   :y1 271.078125,
                                   :x2 251.65396118164062,
                                   :y2 282.078125,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 0,
                                   :y1 1694,
                                   :x2 0,
                                   :y2 1714,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 0,
                                   :y1 1710,
                                   :x2 0,
                                   :y2 1730,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 0,
                                   :y1 1726,
                                   :x2 0,
                                   :y2 1746,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 0,
                                   :y1 1742,
                                   :x2 0,
                                   :y2 1762,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 0,
                                   :y1 1758,
                                   :x2 0,
                                   :y2 1778,
                                   :width 800,
                                   :height 1037.03810166214}),
                          :page 2},
               :content {:text "This multicentre study has shown that, in patients(who were at risk of hypoxaemia) undergoing gastrointestinal endoscopy under sedation, high-flow nasal oxygen (gas flow 70 L min1 , inspired oxygen fraction0.50) significantly reduced the incidence of decreased peripheral oxygen saturation."},
               :properties {:color "yellow"}}
              {:id #uuid "643e5f65-7e78-4d32-8c48-84b9bddbbb23",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 447.296875,
                                     :x2 718.5471801757812,
                                     :y2 1170,
                                     :width 800,
                                     :height 1037.03810166214},
                          :rects ({:x1 675.6419067382812,
                                   :y1 447.296875,
                                   :x2 718.5471801757812,
                                   :y2 458.296875,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 411.109375,
                                   :y1 461,
                                   :x2 718.5037231445312,
                                   :y2 472,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 411.109375,
                                   :y1 474.640625,
                                   :x2 718.5050659179688,
                                   :y2 485.640625,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 411.109375,
                                   :y1 488.34375,
                                   :x2 718.5035400390625,
                                   :y2 499.34375,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 411.109375,
                                   :y1 501.96875,
                                   :x2 718.5355834960938,
                                   :y2 512.96875,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 411.109375,
                                   :y1 515.671875,
                                   :x2 718.49267578125,
                                   :y2 526.671875,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 411.109375,
                                   :y1 529.296875,
                                   :x2 456.96875,
                                   :y2 540.296875,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 470.8125,
                                   :y1 529.296875,
                                   :x2 521.7294311523438,
                                   :y2 540.296875,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 535.765625,
                                   :y1 529.296875,
                                   :x2 583.109375,
                                   :y2 540.296875,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 596.875,
                                   :y1 529.296875,
                                   :x2 638.173095703125,
                                   :y2 540.296875,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 652.359375,
                                   :y1 529.296875,
                                   :x2 677.09375,
                                   :y2 540.296875,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 690.875,
                                   :y1 529.296875,
                                   :x2 718.4627075195312,
                                   :y2 540.296875,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 411.109375,
                                   :y1 543,
                                   :x2 718.462646484375,
                                   :y2 554,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 411.109375,
                                   :y1 556.640625,
                                   :x2 703.8045654296875,
                                   :y2 567.640625,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 0,
                                   :y1 1022,
                                   :x2 0,
                                   :y2 1042,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 0,
                                   :y1 1038,
                                   :x2 0,
                                   :y2 1058,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 0,
                                   :y1 1054,
                                   :x2 0,
                                   :y2 1074,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 0,
                                   :y1 1070,
                                   :x2 0,
                                   :y2 1090,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 0,
                                   :y1 1086,
                                   :x2 0,
                                   :y2 1106,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 0,
                                   :y1 1102,
                                   :x2 0,
                                   :y2 1122,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 0,
                                   :y1 1118,
                                   :x2 0,
                                   :y2 1138,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 0,
                                   :y1 1134,
                                   :x2 0,
                                   :y2 1154,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 0,
                                   :y1 1150,
                                   :x2 0,
                                   :y2 1170,
                                   :width 800,
                                   :height 1037.03810166214}),
                          :page 2},
               :content {:text " Patients considered at moderate or high risk of hypoxaemia when the patients had underlying cardiac or respiratory disease, were older than 60 yr, were ASA physical status 2, 3, or 4,10 were obese (BMI 30 kg m2), or had obstructive sleep apnoea syndrome, documented or highly suspected by using the‘snoring, tiredness, observed apnoea, high blood pressureebody mass index, age, neck circumference and gender’ (STOP-Bang) questionnaire (STOP-Bang score 3"},
               :properties {:color "yellow"}}
              {:id #uuid "643e5ff0-10d5-4aff-aa94-d490736305d0",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 686,
                                     :x2 388.8857421875,
                                     :y2 778.75,
                                     :width 800,
                                     :height 1037.03810166214},
                          :rects ({:x1 0,
                                   :y1 686,
                                   :x2 0,
                                   :y2 706,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 0,
                                   :y1 702,
                                   :x2 0,
                                   :y2 722,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 81.46875,
                                   :y1 740.40625,
                                   :x2 388.3125,
                                   :y2 751.40625,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 81.46875,
                                   :y1 754.046875,
                                   :x2 388.8857421875,
                                   :y2 765.046875,
                                   :width 800,
                                   :height 1037.03810166214}
                                  {:x1 81.46875,
                                   :y1 767.75,
                                   :x2 259.79229736328125,
                                   :y2 778.75,
                                   :width 800,
                                   :height 1037.03810166214}),
                          :page 3},
               :content {:text "The primary outcome was the incidence of decreased SpO292% observed during the interval between the start of sedation and the end of the procedure. "},
               :properties {:color "yellow"}}
              {:id #uuid "643e605b-4a42-4d93-bc60-3917fc6f4e57",
               :page 5,
               :position {:bounding {:x1 96.8125,
                                     :y1 758.875,
                                     :x2 297.07806396484375,
                                     :y2 768.875,
                                     :width 800,
                                     :height 1037.03810166214},
                          :rects ({:x1 96.8125,
                                   :y1 758.875,
                                   :x2 297.07806396484375,
                                   :y2 768.875,
                                   :width 800,
                                   :height 1037.03810166214}),
                          :page 5},
               :content {:text "Type of gastrointestinal endoscopy, no. (%)"},
               :properties {:color "red"}}],
 :extra {:page 2}}
