{:highlights [{:id #uuid "644510a4-f6f8-4a01-b05b-35d30690f08a",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 16,
                                     :x2 920.5486450195312,
                                     :y2 1248.5625,
                                     :width 992.2,
                                     :height 1403.1999999999998},
                          :rects ({:x1 0,
                                   :y1 16,
                                   :x2 0,
                                   :y2 32,
                                   :width 992.2,
                                   :height 1403.1999999999998}
                                  {:x1 132.234375,
                                   :y1 1213.171875,
                                   :x2 920.5486450195312,
                                   :y2 1232.171875,
                                   :width 992.2,
                                   :height 1403.1999999999998}
                                  {:x1 132.234375,
                                   :y1 1236.5625,
                                   :x2 148.0165252685547,
                                   :y2 1248.5625,
                                   :width 992.2,
                                   :height 1403.1999999999998}),
                          :page 2},
               :content {:text "O médico gastrenterologista que procede ao exame, não deve ser envolvido no processo de sedação5-7"},
               :properties {:color "yellow"}}
              {:id #uuid "644510b9-985f-443d-b2e9-73141a1c14de",
               :page 3,
               :position {:bounding {:x1 132.234375,
                                     :y1 262.25,
                                     :x2 678.2036743164062,
                                     :y2 281.25,
                                     :width 992.2,
                                     :height 1403.1999999999998},
                          :rects ({:x1 132.234375,
                                   :y1 262.25,
                                   :x2 678.2036743164062,
                                   :y2 281.25,
                                   :width 992.2,
                                   :height 1403.1999999999998}),
                          :page 3},
               :content {:text "A sedação/anestesia tem de ser realizada por médico anestesiologista."},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
