{:highlights [{:id #uuid "64410b19-cdf1-4a38-a296-7430ff784e0e",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 16,
                                     :x2 878.6806030273438,
                                     :y2 508.421875,
                                     :width 992.0833333333333,
                                     :height 1402.9166666666665},
                          :rects ({:x1 0,
                                   :y1 16,
                                   :x2 0,
                                   :y2 32,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}
                                  {:x1 783.4529418945312,
                                   :y1 456.3125,
                                   :x2 878.6806030273438,
                                   :y2 476.3125,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}
                                  {:x1 113.375,
                                   :y1 488.421875,
                                   :x2 192.17599487304688,
                                   :y2 508.421875,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}),
                          :page 1},
               :content {:text "fora do bloco operatório,"},
               :properties {:color "yellow"}}
              {:id #uuid "64410b2d-8818-4b41-b899-a90822cb7c9d",
               :page 1,
               :position {:bounding {:x1 263.875,
                                     :y1 720.546875,
                                     :x2 601.2021484375,
                                     :y2 740.546875,
                                     :width 992.0833333333333,
                                     :height 1402.9166666666665},
                          :rects ({:x1 263.875,
                                   :y1 720.546875,
                                   :x2 601.2021484375,
                                   :y2 740.546875,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}),
                          :page 1},
               :content {:text "procedimentos de sedação e analgesia (PSA"},
               :properties {:color "yellow"}}
              {:id #uuid "64410b59-09c4-47f4-9955-1c399e828fdc",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 16,
                                     :x2 878.4981689453125,
                                     :y2 804.75,
                                     :width 992.0833333333333,
                                     :height 1402.9166666666665},
                          :rects ({:x1 0,
                                   :y1 16,
                                   :x2 0,
                                   :y2 32,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}
                                  {:x1 0,
                                   :y1 32,
                                   :x2 0,
                                   :y2 48,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}
                                  {:x1 620.8563842773438,
                                   :y1 720.546875,
                                   :x2 878.4981689453125,
                                   :y2 740.546875,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}
                                  {:x1 113.375,
                                   :y1 752.625,
                                   :x2 878.2941284179688,
                                   :y2 772.625,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}
                                  {:x1 113.375,
                                   :y1 784.75,
                                   :x2 213.71307373046875,
                                   :y2 804.75,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}),
                          :page 1},
               :content {:text " utilização de fármacos sedativos / hipnóticos, de curta duração de ação, isoladamente ou em associação com fármacos analgésicos (opióides e não opióides)."},
               :properties {:color "green"}}
              {:id #uuid "64410b68-06d6-4873-b53d-3a595065e030",
               :page 1,
               :position {:bounding {:x1 408.8772888183594,
                                     :y1 848.921875,
                                     :x2 772.0648193359375,
                                     :y2 868.921875,
                                     :width 992.0833333333333,
                                     :height 1402.9166666666665},
                          :rects ({:x1 408.8772888183594,
                                   :y1 848.921875,
                                   :x2 772.0648193359375,
                                   :y2 868.921875,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}),
                          :page 1},
               :content {:text "deve ser submetido a uma avaliação pré-anestésica"},
               :properties {:color "yellow"}}
              {:id #uuid "64410b6d-b32a-4628-be41-80ab623dec11",
               :page 1,
               :position {:bounding {:x1 248.375,
                                     :y1 913.125,
                                     :x2 558.62255859375,
                                     :y2 933.125,
                                     :width 992.0833333333333,
                                     :height 1402.9166666666665},
                          :rects ({:x1 248.375,
                                   :y1 913.125,
                                   :x2 558.62255859375,
                                   :y2 933.125,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}),
                          :page 1},
               :content {:text " European Society of Anaesthesiology (ESA):"},
               :properties {:color "green"}}
              {:id #uuid "64410b76-dc8f-413b-804b-aa92a6972be2",
               :page 2,
               :position {:bounding {:x1 135,
                                     :y1 238.75,
                                     :x2 658.0101928710938,
                                     :y2 258.75,
                                     :width 992.0833333333333,
                                     :height 1402.9166666666665},
                          :rects ({:x1 135,
                                   :y1 238.75,
                                   :x2 658.0101928710938,
                                   :y2 258.75,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}),
                          :page 2},
               :content {:text " É obrigatória a presença de um Anestesiologista, nas seguintes situações:"},
               :properties {:color "red"}}
              {:id #uuid "64410b7b-eaa6-4bf2-b628-9959cf506026",
               :page 2,
               :position {:bounding {:x1 483.2864990234375,
                                     :y1 270.84375,
                                     :x2 737.9117431640625,
                                     :y2 290.84375,
                                     :width 992.0833333333333,
                                     :height 1402.9166666666665},
                          :rects ({:x1 483.2864990234375,
                                   :y1 270.84375,
                                   :x2 737.9117431640625,
                                   :y2 290.84375,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}),
                          :page 2},
               :content {:text "nível de sedação superior ao nível 2"},
               :properties {:color "yellow"}}
              {:id #uuid "64410b89-b94c-4589-b2f1-9ceb2f7e0b05",
               :page 2,
               :position {:bounding {:x1 131.3038787841797,
                                     :y1 302.921875,
                                     :x2 500.64439392089844,
                                     :y2 322.921875,
                                     :width 992.0833333333333,
                                     :height 1402.9166666666665},
                          :rects ({:x1 131.3038787841797,
                                   :y1 302.921875,
                                   :x2 500.64439392089844,
                                   :y2 322.921875,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}),
                          :page 2},
               :content {:text "Todos os PSA em doentes com estado físico ASA > 2"},
               :properties {:color "yellow"}}
              {:id #uuid "64410b90-34bd-4e6c-aa4a-e3613e96d449",
               :page 2,
               :position {:bounding {:x1 131.03369140625,
                                     :y1 335,
                                     :x2 638.0531616210938,
                                     :y2 355,
                                     :width 992.0833333333333,
                                     :height 1402.9166666666665},
                          :rects ({:x1 131.03369140625,
                                   :y1 335,
                                   :x2 638.0531616210938,
                                   :y2 355,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}),
                          :page 2},
               :content {:text "Todos os PSA em doentes nos extremos etários ( < 4 anos; > 70 anos)"},
               :properties {:color "yellow"}}
              {:id #uuid "64410ba1-8ff5-497b-9e66-1c3dd6b3508d",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 16,
                                     :x2 878.1563110351562,
                                     :y2 643.453125,
                                     :width 992.0833333333333,
                                     :height 1402.9166666666665},
                          :rects ({:x1 0,
                                   :y1 16,
                                   :x2 0,
                                   :y2 32,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}
                                  {:x1 181.75,
                                   :y1 591.34375,
                                   :x2 878.1563110351562,
                                   :y2 611.34375,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}
                                  {:x1 172.578125,
                                   :y1 623.453125,
                                   :x2 358.0303649902344,
                                   :y2 643.453125,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}),
                          :page 2},
               :content {:text "Equipamento de monitorização clínica com capnografia sempre que se pratiquem PSA em doentes com níveis de sedação >2;"},
               :properties {:color "yellow"}}
              {:id #uuid "64410bb0-55f9-49cc-a2bd-3a4fe3a0e14e",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 16,
                                     :x2 878.6220703125,
                                     :y2 808.5,
                                     :width 992.0833333333333,
                                     :height 1402.9166666666665},
                          :rects ({:x1 0,
                                   :y1 16,
                                   :x2 0,
                                   :y2 32,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}
                                  {:x1 134.203125,
                                   :y1 756.796875,
                                   :x2 878.6220703125,
                                   :y2 776.796875,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}
                                  {:x1 113.375,
                                   :y1 788.5,
                                   :x2 633.9091186523438,
                                   :y2 808.5,
                                   :width 992.0833333333333,
                                   :height 1402.9166666666665}),
                          :page 2},
               :content {:text "Vigilância pós-PSA - o doente deve permanecer num local onde possa ser monitorizado até à transferência para a enfermaria ou alta para o domicílio, cumpridos os critérios de alta."},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
