{:highlights [{:id #uuid "64410dc4-c95a-4bb9-8aec-618f474dc122",
               :page 39,
               :position {:bounding {:x1 80.6875,
                                     :y1 106.28125,
                                     :x2 890.3871459960938,
                                     :y2 128.28125,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 80.6875,
                                   :y1 106.28125,
                                   :x2 890.3871459960938,
                                   :y2 128.28125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 39},
               :content {:text "NORMAS DE PUBLICAÇÃO - INSTRUÇÕES AOS AUTORES - ATUALIZAÇÃO JANEIRO 2022"},
               :properties {:color "yellow"}}],
 :extra {:page 43}}
