{:highlights [{:id #uuid "64410dc4-c95a-4bb9-8aec-618f474dc122",
               :page 39,
               :position {:bounding {:x1 80.6875,
                                     :y1 106.28125,
                                     :x2 890.3871459960938,
                                     :y2 128.28125,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 80.6875,
                                   :y1 106.28125,
                                   :x2 890.3871459960938,
                                   :y2 128.28125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 39},
               :content {:text "NORMAS DE PUBLICAÇÃO - INSTRUÇÕES AOS AUTORES - ATUALIZAÇÃO JANEIRO 2022"},
               :properties {:color "yellow"}}
              {:id #uuid "64450cef-e98d-41b0-8dda-92f6991ffc8a",
               :page 39,
               :position {:bounding {:x1 89.95158386230469,
                                     :y1 1106.71875,
                                     :x2 162.14500427246094,
                                     :y2 1125.71875,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 89.95158386230469,
                                   :y1 1106.71875,
                                   :x2 162.14500427246094,
                                   :y2 1125.71875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 39},
               :content {:text "ndexRMP:"},
               :properties {:color "red"}}
              {:id #uuid "64450d06-433e-4ce1-b7eb-27c2e1ac954a",
               :page 39,
               :position {:bounding {:x1 85.68516540527344,
                                     :y1 1128.484375,
                                     :x2 146.48834228515625,
                                     :y2 1147.484375,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 85.68516540527344,
                                   :y1 1128.484375,
                                   :x2 146.48834228515625,
                                   :y2 1147.484375,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 39},
               :content {:text "RCAAP"},
               :properties {:color "red"}}
              {:id #uuid "64450d4f-3b9a-4f94-a63f-36dfb4b41d9f",
               :page 45,
               :position {:bounding {:x1 101.390625,
                                     :y1 909.171875,
                                     :x2 275.9568176269531,
                                     :y2 928.171875,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 101.390625,
                                   :y1 909.171875,
                                   :x2 175.58999633789062,
                                   :y2 928.171875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 187.0625,
                                   :y1 909.171875,
                                   :x2 275.9568176269531,
                                   :y2 928.171875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 45},
               :content {:text "referências bibliográficas"},
               :properties {:color "green"}}
              {:id #uuid "64450d60-164c-49c5-8103-3d33587f4d52",
               :page 45,
               :position {:bounding {:x1 0,
                                     :y1 624,
                                     :x2 479.46875,
                                     :y2 950.015625,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 0,
                                   :y1 624,
                                   :x2 0,
                                   :y2 640,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 378.28125,
                                   :y1 909.171875,
                                   :x2 460.7306213378906,
                                   :y2 928.171875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 472.21875,
                                   :y1 909.171875,
                                   :x2 479.46875,
                                   :y2 928.171875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 70.859375,
                                   :y1 931.015625,
                                   :x2 392.5927734375,
                                   :y2 950.015625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 45},
               :content {:text "classificadas e numeradas por ordem de entrada no texto."},
               :properties {:color "yellow"}}
              {:id #uuid "64450d67-9c92-4ebc-b824-086f17b7fea6",
               :page 45,
               :position {:bounding {:x1 70.859375,
                                     :y1 952.875,
                                     :x2 475.1846923828125,
                                     :y2 971.875,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 70.859375,
                                   :y1 952.875,
                                   :x2 475.1846923828125,
                                   :y2 971.875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 45},
               :content {:text "identificadas no texto com algarismos árabes em expoente"},
               :properties {:color "yellow"}}
              {:id #uuid "64450d74-2fe2-47fd-b84d-b4918db46d41",
               :page 45,
               :position {:bounding {:x1 93.2591552734375,
                                     :y1 1084.15625,
                                     :x2 210.72409057617188,
                                     :y2 1103.15625,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 93.2591552734375,
                                   :y1 1084.15625,
                                   :x2 210.72409057617188,
                                   :y2 1103.15625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 45},
               :content {:text "citações completa"},
               :properties {:color "green"}}
              {:id #uuid "64450d78-6e95-47ac-b564-c6b3b27dbded",
               :page 45,
               :position {:bounding {:x1 0,
                                     :y1 752,
                                     :x2 479.505615234375,
                                     :y2 1125.015625,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 0,
                                   :y1 752,
                                   :x2 0,
                                   :y2 768,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 288.4302062988281,
                                   :y1 1084.15625,
                                   :x2 479.505615234375,
                                   :y2 1103.15625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 70.859375,
                                   :y1 1106.015625,
                                   :x2 180.0614013671875,
                                   :y2 1125.015625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 45},
               :content {:text " listadas por ordem numérica no final do texto"},
               :properties {:color "yellow"}}
              {:id #uuid "64450d8f-ab73-46de-8f16-ea25987fa297",
               :page 45,
               :position {:bounding {:x1 190.3144073486328,
                                     :y1 1149.71875,
                                     :x2 446.04461669921875,
                                     :y2 1168.71875,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 190.3144073486328,
                                   :y1 1149.71875,
                                   :x2 446.04461669921875,
                                   :y2 1168.71875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 45},
               :content {:text "Index Medicus Journal Abbreviations "},
               :properties {:color "yellow"}}
              {:id #uuid "64450da4-057c-4412-802c-8703df32eda5",
               :page 45,
               :position {:bounding {:x1 0,
                                     :y1 362.78125,
                                     :x2 920.090576171875,
                                     :y2 1120,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 512.59375,
                                   :y1 362.78125,
                                   :x2 920.090576171875,
                                   :y2 381.78125,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 512.59375,
                                   :y1 384.640625,
                                   :x2 919.9383544921875,
                                   :y2 403.640625,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 512.59375,
                                   :y1 406.5,
                                   :x2 566.5357666015625,
                                   :y2 425.5,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 0,
                                   :y1 1088,
                                   :x2 0,
                                   :y2 1104,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 0,
                                   :y1 1104,
                                   :x2 0,
                                   :y2 1120,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 45},
               :content {:text "Apelido seguido das Iniciais do(s) Autor(es). Título do artigo. Título da revista [abreviado]. Ano de publicação; Volume: páginas."},
               :properties {:color "yellow"}}],
 :extra {:page 45}}
