{:highlights [{:id #uuid "643ea789-22d8-48b8-b839-bff1441ab23e",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 907.171875,
                                     :x2 387.9356994628906,
                                     :y2 947.296875,
                                     :width 800,
                                     :height 1066.6662186951937},
                          :rects ({:x1 192.68797302246094,
                                   :y1 907.171875,
                                   :x2 387.26007080078125,
                                   :y2 919.171875,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 910,
                                   :x2 0,
                                   :y2 930,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 50.5,
                                   :y1 921.265625,
                                   :x2 387.9356994628906,
                                   :y2 933.265625,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 926,
                                   :x2 0,
                                   :y2 946,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 50.5,
                                   :y1 935.296875,
                                   :x2 127.16012573242188,
                                   :y2 947.296875,
                                   :width 800,
                                   :height 1066.6662186951937}),
                          :page 2},
               :content {:text "Eligible patients had a body mass index(BMI) over 40 kg/m 2 and were both male and female between the ages of 18–80 years."},
               :properties {:color "yellow"}}
              {:id #uuid "643ea7ea-3171-47ab-8358-83bf2cc8f0a1",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 808.734375,
                                     :x2 749.4501342773438,
                                     :y2 1986,
                                     :width 800,
                                     :height 1066.6662186951937},
                          :rects ({:x1 704.5789184570312,
                                   :y1 808.734375,
                                   :x2 748.015380859375,
                                   :y2 820.734375,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 412.03125,
                                   :y1 822.828125,
                                   :x2 749.3660888671875,
                                   :y2 834.828125,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 412.03125,
                                   :y1 836.859375,
                                   :x2 749.42431640625,
                                   :y2 848.859375,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 412.03125,
                                   :y1 850.953125,
                                   :x2 749.252197265625,
                                   :y2 864.953125,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 412.03125,
                                   :y1 864.96875,
                                   :x2 749.411376953125,
                                   :y2 876.96875,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 412.03125,
                                   :y1 879.0625,
                                   :x2 749.375244140625,
                                   :y2 891.0625,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 412.03125,
                                   :y1 893.078125,
                                   :x2 749.4501342773438,
                                   :y2 907.078125,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 412.03125,
                                   :y1 907.171875,
                                   :x2 749.4107055664062,
                                   :y2 919.171875,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 412.03125,
                                   :y1 921.1875,
                                   :x2 510.61224365234375,
                                   :y2 933.1875,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 1854,
                                   :x2 0,
                                   :y2 1874,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 1870,
                                   :x2 0,
                                   :y2 1890,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 1886,
                                   :x2 0,
                                   :y2 1906,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 1902,
                                   :x2 0,
                                   :y2 1922,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 1918,
                                   :x2 0,
                                   :y2 1938,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 1934,
                                   :x2 0,
                                   :y2 1954,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 1950,
                                   :x2 0,
                                   :y2 1970,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 1966,
                                   :x2 0,
                                   :y2 1986,
                                   :width 800,
                                   :height 1066.6662186951937}),
                          :page 2},
               :content {:text "After induction of sedation with a lidocaine bolus up to 100 mg and a propofol bolus up to 100 mg intravenously, a propofol infusion was titrated to a Richmond Agitation-Sedation Scale (RASS) score of −3 to −4. The RASS score was designed to have precise, unambiguous definitions for varying depths of sedation based on assessment of arousal, cognition and sustainability. A score of −3 to −4 describes moderate to deep sedation, whereas patients exhibit little or no movement to voice and physical stimulation"},
               :properties {:color "yellow"}}
              {:id #uuid "643ea81d-82cb-444a-9cf4-e8f2eac9da98",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 527.59375,
                                     :x2 749.4515991210938,
                                     :y2 1570,
                                     :width 800,
                                     :height 1066.6662186951937},
                          :rects ({:x1 526.4369506835938,
                                   :y1 527.59375,
                                   :x2 749.4515991210938,
                                   :y2 539.59375,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 412.03125,
                                   :y1 541.6875,
                                   :x2 749.3994750976562,
                                   :y2 553.6875,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 675.421875,
                                   :y1 547.375,
                                   :x2 678.984375,
                                   :y2 554.515625,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 412.03125,
                                   :y1 555.71875,
                                   :x2 749.43359375,
                                   :y2 567.71875,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 1534,
                                   :x2 0,
                                   :y2 1554,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 1550,
                                   :x2 0,
                                   :y2 1570,
                                   :width 800,
                                   :height 1066.6662186951937}),
                          :page 2},
               :content {:text " to the HFNC group received the HFNC 5 min prior to the start of sedation at a setting of 36–40% FiO 2. The flow rate was titrated up to the maximum setting of 60 liters per minute (LPM)"},
               :properties {:color "yellow"}}
              {:id #uuid "643ea88c-0771-4f64-837d-c044d37098d5",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 398,
                                     :x2 749.2565307617188,
                                     :y2 528.203125,
                                     :width 800,
                                     :height 1066.6662186951937},
                          :rects ({:x1 0,
                                   :y1 398,
                                   :x2 0,
                                   :y2 418,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 440.918701171875,
                                   :y1 504.328125,
                                   :x2 749.2565307617188,
                                   :y2 515.328125,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 274.890625,
                                   :y1 517.203125,
                                   :x2 419.042236328125,
                                   :y2 528.203125,
                                   :width 800,
                                   :height 1066.6662186951937}),
                          :page 1},
               :content {:text ". The primary endpoint was incidence of arterial oxygen desaturation <90% measured by pulse oximetry."},
               :properties {:color "yellow"}}
              {:id #uuid "643ea911-64b0-4cdf-94a4-b5b67d631883",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 30,
                                     :x2 387.9396667480469,
                                     :y2 567.71875,
                                     :width 800,
                                     :height 1066.6662186951937},
                          :rects ({:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 50,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 46,
                                   :x2 0,
                                   :y2 66,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 62,
                                   :x2 0,
                                   :y2 82,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 78,
                                   :x2 0,
                                   :y2 98,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 94,
                                   :x2 0,
                                   :y2 114,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 130,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 67.265625,
                                   :y1 471.375,
                                   :x2 387.9134826660156,
                                   :y2 483.375,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 50.5,
                                   :y1 485.46875,
                                   :x2 387.9194641113281,
                                   :y2 497.46875,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 50.5,
                                   :y1 499.484375,
                                   :x2 387.9073486328125,
                                   :y2 511.484375,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 50.5,
                                   :y1 513.578125,
                                   :x2 387.9396667480469,
                                   :y2 525.578125,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 162.4375,
                                   :y1 519.25,
                                   :x2 167.4512939453125,
                                   :y2 526.390625,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 50.5,
                                   :y1 527.59375,
                                   :x2 387.9219970703125,
                                   :y2 539.59375,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 50.5,
                                   :y1 541.6875,
                                   :x2 387.92694091796875,
                                   :y2 553.6875,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 50.5,
                                   :y1 555.71875,
                                   :x2 243.11024475097656,
                                   :y2 567.71875,
                                   :width 800,
                                   :height 1066.6662186951937}),
                          :page 4},
               :content {:text "In this prospective, randomized clinical trial we observed no difference in incidence of desaturations below 90% found in morbidly obese colonoscopy patients treated with supplemental oxygen via SNC(4 LPM) vs. HFNC (FiO 2 0.36–0.4, 60 LPM). There was also no difference found in airway interventions performed by the anesthesia providers between the two groups. Based on these findings the DMC stopped the trial at the interim analysis."},
               :properties {:color "yellow"}}
              {:id #uuid "643ea937-7eb5-466b-bc51-abfc9f38645e",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 894,
                                     :x2 387.9383850097656,
                                     :y2 961.375,
                                     :width 800,
                                     :height 1066.6662186951937},
                          :rects ({:x1 0,
                                   :y1 894,
                                   :x2 0,
                                   :y2 914,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 0,
                                   :y1 910,
                                   :x2 0,
                                   :y2 930,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 161.7073516845703,
                                   :y1 921.265625,
                                   :x2 387.9383850097656,
                                   :y2 933.265625,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 50.515625,
                                   :y1 935.28125,
                                   :x2 387.89910888671875,
                                   :y2 947.28125,
                                   :width 800,
                                   :height 1066.6662186951937}
                                  {:x1 50.515625,
                                   :y1 949.375,
                                   :x2 387.9037170410156,
                                   :y2 961.375,
                                   :width 800,
                                   :height 1066.6662186951937}),
                          :page 3},
               :content {:text "14 out of 31 patients (45.2%) had at least one desaturation episode < 90%. In the HFNC group, 11 out of 28 patients(39.3%) had at least one desaturation episode < 90% (p = 0.79)."},
               :properties {:color "yellow"}}
              {:id #uuid "64469184-f337-471a-98bf-5cb7b33574cc",
               :page 2,
               :position {:bounding {:x1 326.77459716796875,
                                     :y1 527.59375,
                                     :x2 387.80712890625,
                                     :y2 539.59375,
                                     :width 800,
                                     :height 1066.6662186951937},
                          :rects ({:x1 326.77459716796875,
                                   :y1 527.59375,
                                   :x2 387.80712890625,
                                   :y2 539.59375,
                                   :width 800,
                                   :height 1066.6662186951937}),
                          :page 2},
               :content {:text "colonoscopy"},
               :properties {:color "red"}}
              {:id #uuid "64469189-6ef9-4bdb-8149-9944d41bdab4",
               :page 2,
               :position {:bounding {:x1 81.35303497314453,
                                     :y1 541.6875,
                                     :x2 148.16148376464844,
                                     :y2 553.6875,
                                     :width 800,
                                     :height 1066.6662186951937},
                          :rects ({:x1 81.35303497314453,
                                   :y1 541.6875,
                                   :x2 148.16148376464844,
                                   :y2 553.6875,
                                   :width 800,
                                   :height 1066.6662186951937}),
                          :page 2},
               :content {:text "deep sedation"},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
