{:highlights [{:id #uuid "6447e2e3-d36a-4752-9f77-f6867c59a6a8",
               :page 1,
               :position {:bounding {:x1 169.28125,
                                     :y1 287.40625,
                                     :x2 216.0905303955078,
                                     :y2 302.40625,
                                     :width 800.0000000000001,
                                     :height 1054.5763099944106},
                          :rects ({:x1 169.28125,
                                   :y1 287.40625,
                                   :x2 216.0905303955078,
                                   :y2 302.40625,
                                   :width 800.0000000000001,
                                   :height 1054.5763099944106}),
                          :page 1},
               :content {:text "Hypoxia"},
               :properties {:color "yellow"}}
              {:id #uuid "6447e315-8719-423d-9a5b-e040e7804f33",
               :page 1,
               :position {:bounding {:x1 496.206298828125,
                                     :y1 287.40625,
                                     :x2 612.9124145507812,
                                     :y2 302.40625,
                                     :width 800.0000000000001,
                                     :height 1054.5763099944106},
                          :rects ({:x1 496.206298828125,
                                   :y1 287.40625,
                                   :x2 612.9124145507812,
                                   :y2 302.40625,
                                   :width 800.0000000000001,
                                   :height 1054.5763099944106}),
                          :page 1},
               :content {:text "ntravenous sedation"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
