{:highlights [{:id #uuid "643ea35f-aaeb-423d-8a32-2bfed411320c",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 850.0625,
                                     :x2 723.8563232421875,
                                     :y2 1938,
                                     :width 800,
                                     :height 1131.4281106579135},
                          :rects ({:x1 445.0180969238281,
                                   :y1 850.0625,
                                   :x2 723.8563232421875,
                                   :y2 864.0625,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 413.328125,
                                   :y1 866.1875,
                                   :x2 723.7720336914062,
                                   :y2 880.1875,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 1918,
                                   :x2 0,
                                   :y2 1938,
                                   :width 800,
                                   :height 1131.4281106579135}),
                          :page 3},
               :content {:text "positioned supine for EUS and in the semi-prone position with the right side slightly elevated for ERCP."},
               :properties {:color "yellow"}}
              {:id #uuid "643ea39e-bc0e-4542-a1ec-5c60195bdd14",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 889.40625,
                                     :x2 386.7210388183594,
                                     :y2 1058,
                                     :width 800,
                                     :height 1131.4281106579135},
                          :rects ({:x1 184.1576385498047,
                                   :y1 889.40625,
                                   :x2 386.4657897949219,
                                   :y2 903.40625,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 905.546875,
                                   :x2 386.7210388183594,
                                   :y2 919.546875,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 921.671875,
                                   :x2 386.5862731933594,
                                   :y2 935.671875,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 937.796875,
                                   :x2 386.669921875,
                                   :y2 951.796875,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 223.171875,
                                   :y1 942.578125,
                                   :x2 228.57772827148438,
                                   :y2 949.625,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 953.921875,
                                   :x2 158.3643341064453,
                                   :y2 967.921875,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 990,
                                   :x2 0,
                                   :y2 1010,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 1006,
                                   :x2 0,
                                   :y2 1026,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 1022,
                                   :x2 0,
                                   :y2 1042,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 1038,
                                   :x2 0,
                                   :y2 1058,
                                   :width 800,
                                   :height 1131.4281106579135}),
                          :page 4},
               :content {:text "The HFNO oxygen enriched air flow settings are adjustable between 10 and 60 L/min with a maximal oxygen output of 50% when using standard15 L/min supplemental O2 to the machine inflow port as in our case."},
               :properties {:color "yellow"}}
              {:id #uuid "643ea3be-2faa-408e-b502-ed78bfc60ab8",
               :page 4,
               :position {:bounding {:x1 475.6658020019531,
                                     :y1 730.46875,
                                     :x2 688.2637939453125,
                                     :y2 744.46875,
                                     :width 800,
                                     :height 1131.4281106579135},
                          :rects ({:x1 475.6658020019531,
                                   :y1 730.46875,
                                   :x2 688.2637939453125,
                                   :y2 744.46875,
                                   :width 800,
                                   :height 1131.4281106579135}),
                          :page 4},
               :content {:text "238 consecutive elective ERCP or EUS"},
               :properties {:color "yellow"}}
              {:id #uuid "643ea404-b5fa-46c5-a0e5-badae2763db5",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 615.25,
                                     :x2 386.7129821777344,
                                     :y2 770,
                                     :width 800,
                                     :height 1131.4281106579135},
                          :rects ({:x1 253.61029052734375,
                                   :y1 615.25,
                                   :x2 386.7129821777344,
                                   :y2 629.25,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 631.375,
                                   :x2 386.6187438964844,
                                   :y2 645.375,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 647.515625,
                                   :x2 386.6123352050781,
                                   :y2 661.515625,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 663.640625,
                                   :x2 386.7095642089844,
                                   :y2 677.640625,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 718,
                                   :x2 0,
                                   :y2 738,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 734,
                                   :x2 0,
                                   :y2 754,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 750,
                                   :x2 0,
                                   :y2 770,
                                   :width 800,
                                   :height 1131.4281106579135}),
                          :page 4},
               :content {:text "Deep sedation with or without local anesthetic topicalization of the pharynx was achieved with a propofol infusion and repeated propofol boluses in a spontaneously breathing patient."},
               :properties {:color "yellow"}}
              {:id #uuid "643ea499-8453-4730-99ee-5563dbfced2c",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 914.578125,
                                     :x2 723.5672607421875,
                                     :y2 2018,
                                     :width 800,
                                     :height 1131.4281106579135},
                          :rects ({:x1 601.5465087890625,
                                   :y1 914.578125,
                                   :x2 723.5672607421875,
                                   :y2 928.578125,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 413.328125,
                                   :y1 930.703125,
                                   :x2 722.9273681640625,
                                   :y2 944.703125,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 413.328125,
                                   :y1 946.828125,
                                   :x2 704.7972412109375,
                                   :y2 960.828125,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 1982,
                                   :x2 0,
                                   :y2 2002,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 1998,
                                   :x2 0,
                                   :y2 2018,
                                   :width 800,
                                   :height 1131.4281106579135}),
                          :page 3},
               :content {:text "The decision to use DS vs GA was at the discretion of the anesthesia teams following discussion with the endoscopists. "},
               :properties {:color "yellow"}}
              {:id #uuid "643ea4b7-531a-4443-858e-5bed61e8e147",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 110,
                                     :x2 386.75054931640625,
                                     :y2 313.734375,
                                     :width 800,
                                     :height 1131.4281106579135},
                          :rects ({:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 130,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 146,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 142,
                                   :x2 0,
                                   :y2 162,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 158,
                                   :x2 0,
                                   :y2 178,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 326.6329650878906,
                                   :y1 235.21875,
                                   :x2 386.75054931640625,
                                   :y2 249.21875,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 251.34375,
                                   :x2 386.69146728515625,
                                   :y2 265.34375,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 267.484375,
                                   :x2 386.69354248046875,
                                   :y2 281.484375,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 283.609375,
                                   :x2 385.8333435058594,
                                   :y2 297.609375,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 299.734375,
                                   :x2 349.8751525878906,
                                   :y2 313.734375,
                                   :width 800,
                                   :height 1131.4281106579135}),
                          :page 6},
               :content {:text "Compared to the era before HFNO, general anesthesia was used significantly less frequently during the era with HFNO availability, and a trend towards increased GA reemerged when HFNO was no longer accessible."},
               :properties {:color "yellow"}}
              {:id #uuid "643ea506-b05f-4fbf-94d6-ec093c5906d3",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 366,
                                     :x2 386.74688720703125,
                                     :y2 604.015625,
                                     :width 800,
                                     :height 1131.4281106579135},
                          :rects ({:x1 0,
                                   :y1 366,
                                   :x2 0,
                                   :y2 386,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 382,
                                   :x2 0,
                                   :y2 402,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 398,
                                   :x2 0,
                                   :y2 418,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 414,
                                   :x2 0,
                                   :y2 434,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 430,
                                   :x2 0,
                                   :y2 450,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 446,
                                   :x2 0,
                                   :y2 466,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 95.234375,
                                   :y1 461,
                                   :x2 386.7396240234375,
                                   :y2 475,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 462,
                                   :x2 0,
                                   :y2 482,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 477.125,
                                   :x2 385.8835754394531,
                                   :y2 491.125,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 478,
                                   :x2 0,
                                   :y2 498,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 493.25,
                                   :x2 386.4269714355469,
                                   :y2 507.25,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 509.375,
                                   :x2 386.61517333984375,
                                   :y2 523.375,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 525.515625,
                                   :x2 386.74688720703125,
                                   :y2 539.515625,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 541.640625,
                                   :x2 386.5772399902344,
                                   :y2 555.640625,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 557.765625,
                                   :x2 386.6993408203125,
                                   :y2 571.765625,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 573.890625,
                                   :x2 386.616943359375,
                                   :y2 587.890625,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 590.015625,
                                   :x2 139.4815216064453,
                                   :y2 604.015625,
                                   :width 800,
                                   :height 1131.4281106579135}),
                          :page 7},
               :content {:text "In conclusion, our study demonstrates a decreased use of GA when HFNO is available in the endoscopy unit for patients undergoing ERCP and EUS. Provision of HFNO and DS was associated with decreased procedure and anesthesia-only times, and oxygenation was improved compared to sedation without HFNO. Further prospective trials are needed to fully elucidate the role of HFNO during sedation in gastrointestinal endoscopy."},
               :properties {:color "yellow"}}
              {:id #uuid "643ea53a-4379-486c-a719-75b266dd8346",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 110,
                                     :x2 386.5962829589844,
                                     :y2 281.484375,
                                     :width 800,
                                     :height 1131.4281106579135},
                          :rects ({:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 130,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 146,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 142,
                                   :x2 0,
                                   :y2 162,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 0,
                                   :y1 158,
                                   :x2 0,
                                   :y2 178,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 156.9123992919922,
                                   :y1 202.96875,
                                   :x2 386.57843017578125,
                                   :y2 216.96875,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 219.09375,
                                   :x2 385.97894287109375,
                                   :y2 233.09375,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 235.21875,
                                   :x2 386.3521728515625,
                                   :y2 249.21875,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 251.34375,
                                   :x2 386.5962829589844,
                                   :y2 265.34375,
                                   :width 800,
                                   :height 1131.4281106579135}
                                  {:x1 76.1875,
                                   :y1 267.484375,
                                   :x2 350.87640380859375,
                                   :y2 281.484375,
                                   :width 800,
                                   :height 1131.4281106579135}),
                          :page 7},
               :content {:text "Similarly, neither unexpected adverse events nor conversions from HFNC to GA were obvious in the chart review in any era. This finding suggests that the incidence of these events is likely to be low, but prospective targeted confirmation is needed."},
               :properties {:color "green"}}],
 :extra {:page 1}}
