{:highlights [{:id #uuid "643e7616-5e77-4eb4-869e-224948d65d33",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 894,
                                     :x2 726.03564453125,
                                     :y2 1017.296875,
                                     :width 800.0000000000001,
                                     :height 1132.1008403361345},
                          :rects ({:x1 0,
                                   :y1 894,
                                   :x2 0,
                                   :y2 914,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 0,
                                   :y1 910,
                                   :x2 0,
                                   :y2 930,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 0,
                                   :y1 926,
                                   :x2 0,
                                   :y2 946,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 167.34375,
                                   :y1 958.203125,
                                   :x2 726.03564453125,
                                   :y2 972.203125,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 167.34375,
                                   :y1 973.234375,
                                   :x2 725.3161010742188,
                                   :y2 987.234375,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 499.21875,
                                   :y1 973.609375,
                                   :x2 504.171875,
                                   :y2 980.609375,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 167.34375,
                                   :y1 988.265625,
                                   :x2 726.0198974609375,
                                   :y2 1002.265625,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 167.34375,
                                   :y1 1003.296875,
                                   :x2 451.1551208496094,
                                   :y2 1017.296875,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}),
                          :page 3},
               :content {:text "Enrolled participants were randomly assigned to one of two groups: high-flow via oxygenating mouthguard (HFMG) at 20 L/min or SNC (Softi Smoothflow®; Victoria, Australia) at 2 L/min flow. Of note, the design of this SNC allows oxygen delivery through one nasal prong and sampling of expired carbon dioxide from the other prong simultaneously."},
               :properties {:color "yellow"}}
              {:id #uuid "643e763d-c675-4ca9-9504-00496553ce0a",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 542,
                                     :x2 726.0374145507812,
                                     :y2 926.109375,
                                     :width 800.0000000000001,
                                     :height 1132.1008403361345},
                          :rects ({:x1 0,
                                   :y1 542,
                                   :x2 0,
                                   :y2 562,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 0,
                                   :y1 558,
                                   :x2 0,
                                   :y2 578,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 167.34375,
                                   :y1 882.046875,
                                   :x2 726.0374145507812,
                                   :y2 896.046875,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 668.65625,
                                   :y1 889.140625,
                                   :x2 673.7037963867188,
                                   :y2 896.140625,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 167.34375,
                                   :y1 897.078125,
                                   :x2 725.955322265625,
                                   :y2 911.078125,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 167.34375,
                                   :y1 912.109375,
                                   :x2 459.89617919921875,
                                   :y2 926.109375,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}),
                          :page 6},
               :content {:text "We found a statistically significant difference in the primary outcome of hypoxaemia (SpO2 < 90%) of any duration. Six patients (4.4%) allocated to HFMG experienced at least an episode of hypoxaemia compared to 34 (22.1%) patients allocated to SNC "},
               :properties {:color "yellow"}}
              {:id #uuid "64467e97-eb41-4d0b-8cb0-fa127a9e7955",
               :page 2,
               :position {:bounding {:x1 297.69775390625,
                                     :y1 480.984375,
                                     :x2 346.123779296875,
                                     :y2 495.984375,
                                     :width 800.0000000000001,
                                     :height 1132.1008403361345},
                          :rects ({:x1 297.69775390625,
                                   :y1 480.984375,
                                   :x2 346.123779296875,
                                   :y2 495.984375,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}),
                          :page 2},
               :content {:text " 20 L/min"},
               :properties {:color "yellow"}}
              {:id #uuid "64467e9b-5fda-48d5-a5e1-062c66f95bd4",
               :page 2,
               :position {:bounding {:x1 384.5986633300781,
                                     :y1 480.984375,
                                     :x2 512.5538330078125,
                                     :y2 495.984375,
                                     :width 800.0000000000001,
                                     :height 1132.1008403361345},
                          :rects ({:x1 384.5986633300781,
                                   :y1 480.984375,
                                   :x2 512.5538330078125,
                                   :y2 495.984375,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}),
                          :page 2},
               :content {:text "oxygenating mouthguard"},
               :properties {:color "yellow"}}
              {:id #uuid "64467f97-e69c-472e-ae4c-2de3c26b4224",
               :page 2,
               :position {:bounding {:x1 419.98388671875,
                                     :y1 496.546875,
                                     :x2 600.481689453125,
                                     :y2 511.546875,
                                     :width 800.0000000000001,
                                     :height 1132.1008403361345},
                          :rects ({:x1 419.98388671875,
                                   :y1 496.546875,
                                   :x2 600.481689453125,
                                   :y2 511.546875,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}),
                          :page 2},
               :content {:text "upper gastrointestinal endoscopy "},
               :properties {:color "yellow"}}
              {:id #uuid "64467fa5-d822-493f-b0f6-66a04aaa5f3e",
               :page 2,
               :position {:bounding {:x1 224.04949951171875,
                                     :y1 512.09375,
                                     :x2 702.5556030273438,
                                     :y2 527.09375,
                                     :width 800.0000000000001,
                                     :height 1132.1008403361345},
                          :rects ({:x1 224.04949951171875,
                                   :y1 512.09375,
                                   :x2 702.5556030273438,
                                   :y2 527.09375,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}),
                          :page 2},
               :content {:text " A statistically significant difference in the incidence of hypoxaemia was demonstrated. "},
               :properties {:color "yellow"}}
              {:id #uuid "64467fbc-c718-40f3-b63a-158b40f641e3",
               :page 3,
               :position {:bounding {:x1 218.42527770996094,
                                     :y1 594.703125,
                                     :x2 507.32627868652344,
                                     :y2 608.703125,
                                     :width 800.0000000000001,
                                     :height 1132.1008403361345},
                          :rects ({:x1 218.42527770996094,
                                   :y1 594.703125,
                                   :x2 507.32627868652344,
                                   :y2 608.703125,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}),
                          :page 3},
               :content {:text "single-centre, prospective, randomised clinical trial "},
               :properties {:color "yellow"}}
              {:id #uuid "64467fd9-3f8b-4de0-ab94-4d37c652caf2",
               :page 3,
               :position {:bounding {:x1 668.4574584960938,
                                     :y1 594.703125,
                                     :x2 725.2642211914062,
                                     :y2 608.703125,
                                     :width 800.0000000000001,
                                     :height 1132.1008403361345},
                          :rects ({:x1 668.4574584960938,
                                   :y1 594.703125,
                                   :x2 725.2642211914062,
                                   :y2 608.703125,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}),
                          :page 3},
               :content {:text "Australian"},
               :properties {:color "red"}}
              {:id #uuid "64467ff4-fb54-4392-91a5-fc8c69d5fd82",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 606,
                                     :x2 726.003173828125,
                                     :y2 713.90625,
                                     :width 800.0000000000001,
                                     :height 1132.1008403361345},
                          :rects ({:x1 0,
                                   :y1 606,
                                   :x2 0,
                                   :y2 626,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 0,
                                   :y1 622,
                                   :x2 0,
                                   :y2 642,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 289.4322814941406,
                                   :y1 669.84375,
                                   :x2 726.003173828125,
                                   :y2 683.84375,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 167.34375,
                                   :y1 684.875,
                                   :x2 725.9888916015625,
                                   :y2 698.875,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 167.34375,
                                   :y1 699.90625,
                                   :x2 429.7803039550781,
                                   :y2 713.90625,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}),
                          :page 3},
               :content {:text " non-emergent upper GI endoscopy (gastroscopy, endoscopic retrograde cholangiopancreatography (ERCP), upper enteroscopy or upper endoscopic ultrasound (EUS), alone or in combination with another upper GI endoscopy) "},
               :properties {:color "yellow"}}
              {:id #uuid "64468355-0dd4-42ea-84e3-f77b2e24b505",
               :page 5,
               :position {:bounding {:x1 386.29852294921875,
                                     :y1 666.03125,
                                     :x2 455.3611145019531,
                                     :y2 680.03125,
                                     :width 800.0000000000001,
                                     :height 1132.1008403361345},
                          :rects ({:x1 386.29852294921875,
                                   :y1 666.03125,
                                   :x2 455.3611145019531,
                                   :y2 680.03125,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}),
                          :page 5},
               :content {:text ", 300 patient"},
               :properties {:color "yellow"}}
              {:id #uuid "64468395-981e-493a-ac87-72283f0f5e03",
               :page 3,
               :position {:bounding {:x1 477.7876281738281,
                                     :y1 1018.328125,
                                     :x2 630.4136352539062,
                                     :y2 1032.328125,
                                     :width 800.0000000000001,
                                     :height 1132.1008403361345},
                          :rects ({:x1 477.7876281738281,
                                   :y1 1018.328125,
                                   :x2 630.4136352539062,
                                   :y2 1032.328125,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}),
                          :page 3},
               :content {:text " high-flow oxygen rotameter"},
               :properties {:color "yellow"}}],
 :extra {:page 8}}
