{:highlights [{:id #uuid "643e7616-5e77-4eb4-869e-224948d65d33",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 894,
                                     :x2 726.03564453125,
                                     :y2 1017.296875,
                                     :width 800.0000000000001,
                                     :height 1132.1008403361345},
                          :rects ({:x1 0,
                                   :y1 894,
                                   :x2 0,
                                   :y2 914,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 0,
                                   :y1 910,
                                   :x2 0,
                                   :y2 930,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 0,
                                   :y1 926,
                                   :x2 0,
                                   :y2 946,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 167.34375,
                                   :y1 958.203125,
                                   :x2 726.03564453125,
                                   :y2 972.203125,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 167.34375,
                                   :y1 973.234375,
                                   :x2 725.3161010742188,
                                   :y2 987.234375,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 499.21875,
                                   :y1 973.609375,
                                   :x2 504.171875,
                                   :y2 980.609375,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 167.34375,
                                   :y1 988.265625,
                                   :x2 726.0198974609375,
                                   :y2 1002.265625,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 167.34375,
                                   :y1 1003.296875,
                                   :x2 451.1551208496094,
                                   :y2 1017.296875,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}),
                          :page 3},
               :content {:text "Enrolled participants were randomly assigned to one of two groups: high-flow via oxygenating mouthguard (HFMG) at 20 L/min or SNC (Softi Smoothflow®; Victoria, Australia) at 2 L/min flow. Of note, the design of this SNC allows oxygen delivery through one nasal prong and sampling of expired carbon dioxide from the other prong simultaneously."},
               :properties {:color "yellow"}}
              {:id #uuid "643e763d-c675-4ca9-9504-00496553ce0a",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 542,
                                     :x2 726.0374145507812,
                                     :y2 926.109375,
                                     :width 800.0000000000001,
                                     :height 1132.1008403361345},
                          :rects ({:x1 0,
                                   :y1 542,
                                   :x2 0,
                                   :y2 562,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 0,
                                   :y1 558,
                                   :x2 0,
                                   :y2 578,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 167.34375,
                                   :y1 882.046875,
                                   :x2 726.0374145507812,
                                   :y2 896.046875,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 668.65625,
                                   :y1 889.140625,
                                   :x2 673.7037963867188,
                                   :y2 896.140625,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 167.34375,
                                   :y1 897.078125,
                                   :x2 725.955322265625,
                                   :y2 911.078125,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}
                                  {:x1 167.34375,
                                   :y1 912.109375,
                                   :x2 459.89617919921875,
                                   :y2 926.109375,
                                   :width 800.0000000000001,
                                   :height 1132.1008403361345}),
                          :page 6},
               :content {:text "We found a statistically significant difference in the primary outcome of hypoxaemia (SpO2 < 90%) of any duration. Six patients (4.4%) allocated to HFMG experienced at least an episode of hypoxaemia compared to 34 (22.1%) patients allocated to SNC "},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
